In [ ]:
# Import requests
import requests
from bs4 import BeautifulSoup
import pandas as pd

### Let's collect QC

In [1]:
for i in range(1,23):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps/QC.html?location=Quebec&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205402&viewport=-101.79430289849988%2C35.94887050929101%2C-35.085318523499886%2C66.33187574642349&zoom=4&location_changed=&ajax=1'
    
print(url)

https://www.point2homes.com/CA/Real-Estate-Maps/QC.html?location=Quebec&PropertyType=House&search_mode=location&page=22&SelectedView=map_view&LocationGeoId=205402&viewport=-101.79430289849988%2C35.94887050929101%2C-35.085318523499886%2C66.33187574642349&zoom=4&location_changed=&ajax=1

In [136]:
data = {}
soups = {}
tables_QC = []
# Create a df to store info
Point2_data = pd.DataFrame(columns=['Beds','Bath','Sqft','Lot_Size','Type','Price','Address'])
for i in range(1,23):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps/QC.html?location=Quebec&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205402&viewport=-101.79430289849988%2C35.94887050929101%2C-35.085318523499886%2C66.33187574642349&zoom=4&location_changed=&ajax=1'
    data = requests.get(url).text
    soup = BeautifulSoup(data, 'html.parser')
    tables_QC.append(soup.find_all("div", class_="item-details"))
    
    # extract information from each table
    for table in (tables_QC[(i-1)]):
        if (len(str(table.find_all("li", class_='ic-beds')).split())<3):
            Nbed = float("NaN")
        else:
            Nbed = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-beds')))))
        
        if (len(str(table.find_all("li", class_='ic-baths')).split())<3):
            NBath = float("NaN")
        else:
            NBath = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-baths')))))
        
        if (len(str(table.find_all("li", class_='ic-sqft')).split())<3):
            NSqft = float("NaN")
        else:
            NSqft = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-sqft')))))
    
        if (len(str(table.find_all("li", class_='ic-lotsize')).split())<4):
            NLot_Size = float("NaN")
        else:
            NLot_Size = str(table.find_all("li", class_='ic-lotsize')).split()[4][-4:]
        
        if (len(str(table.find_all("li", class_='ic-proptype')).split())<3):
            NType = float("NaN")
        else:
            NType = str(table.find_all("li", class_='ic-proptype')).split()[3]


        NPrice = float(table.find("div", class_='price')['data-price'].replace('$','').replace(',','').replace('CAD',''))
        NAddress = table.find("div", class_='item-address')['data-address']
    # append data into the table 
        Point2_data = Point2_data.append({'Beds':Nbed,'Bath':NBath,'Sqft':NSqft,'Lot_Size':NLot_Size,'Type':NType,'Price':NPrice,'Address':NAddress},ignore_index=True)

In [137]:
Point2_data.tail()

,Beds,Bath,Sqft,Lot_Size,Type,Price,Address
2185,2,1,NaN,NaN,Residential,373000.0,Rue des Lys
2186,4,1,NaN,.609,Farm,900000.0,3225 Boul. du Parc-Industriel
2187,11,1,NaN,.165,Residential,325000.0,259 Rue Roy S.
2188,2,3,2374.0,NaN,Residential,2450000.0,175 Rue de la Montagne #1401
2189,3,1,NaN,.119,Residential,238500.0,513 Av. du Jade

In [138]:
for column in Point2_data:
    print(str(column) + ' column has '+ str(Point2_data[column].isnull().sum()) + ' NaNs')

Beds column has 52 NaNs
Bath column has 48 NaNs
Sqft column has 1018 NaNs
Lot_Size column has 678 NaNs
Type column has 0 NaNs
Price column has 0 NaNs
Address column has 0 NaNs

In [139]:
Point2_data.to_csv('Point2_data_QC_house.csv',index=False)

### Let's collect ON

In [2]:
for i in range(1,134):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps/QC.html?location=Ontario&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205411&viewport=-78.9236472734375%2C44.51897030386173%2C-70.5850242265625%2C48.88543292837821&zoom=7&location_changed=true&ajax=1'
print(url)

https://www.point2homes.com/CA/Real-Estate-Maps/QC.html?location=Ontario&PropertyType=House&search_mode=location&page=133&SelectedView=map_view&LocationGeoId=205411&viewport=-78.9236472734375%2C44.51897030386173%2C-70.5850242265625%2C48.88543292837821&zoom=7&location_changed=true&ajax=1

Only 30 pages can be shown, so we need to collect data in different ranges

Let's do price from 0 to 500,000 first. There are 2330 houses

In [3]:
for i in range(1,25):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Ontario&PriceMax=500%2C000&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205411&viewport=-87.829667546875%2C41.24634781205452%2C-71.152421453125%2C50.1219215583777&zoom=6&location_changed=&ajax=1'

print(url)

https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Ontario&PriceMax=500%2C000&PropertyType=House&search_mode=location&page=24&SelectedView=map_view&LocationGeoId=205411&viewport=-87.829667546875%2C41.24634781205452%2C-71.152421453125%2C50.1219215583777&zoom=6&location_changed=&ajax=1

In [3]:
data = {}
soups = {}
tables_ON = []
# Create a df to store info
Point2_data = pd.DataFrame(columns=['Beds','Bath','Sqft','Lot_Size','Type','Price','Address'])
for i in range(1,25):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Ontario&PriceMax=500%2C000&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205411&viewport=-87.829667546875%2C41.24634781205452%2C-71.152421453125%2C50.1219215583777&zoom=6&location_changed=&ajax=1'
    data = requests.get(url).text
    soup = BeautifulSoup(data, 'html.parser')
    tables_ON.append(soup.find_all("div", class_="item-details"))
    
    # extract information from each table
    for table in (tables_ON[(i-1)]):
        if (len(str(table.find_all("li", class_='ic-beds')).split())<3):
            Nbed = float("NaN")
        else:
            Nbed = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-beds')))))
        
        if (len(str(table.find_all("li", class_='ic-baths')).split())<3):
            NBath = float("NaN")
        else:
            NBath = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-baths')))))
        
        if (len(str(table.find_all("li", class_='ic-sqft')).split())<3):
            NSqft = float("NaN")
        else:
            NSqft = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-sqft')))))
    
        if (len(str(table.find_all("li", class_='ic-lotsize')).split())<4):
            NLot_Size = float("NaN")
        else:
            NLot_Size = str(table.find_all("li", class_='ic-lotsize')).split()[4][-4:]
        
        if (len(str(table.find_all("li", class_='ic-proptype')).split())<3):
            NType = float("NaN")
        else:
            NType = str(table.find_all("li", class_='ic-proptype')).split()[3]


        NPrice = str(table.find("div", class_='price')['data-price'].replace('$','').replace(',',''))
        NAddress = table.find("div", class_='item-address')['data-address']
    # append data into the table 
        Point2_data = Point2_data.append({'Beds':Nbed,'Bath':NBath,'Sqft':NSqft,'Lot_Size':NLot_Size,'Type':NType,'Price':NPrice,'Address':NAddress},ignore_index=True)

In [4]:
Point2_data.tail()

     Beds Bath  Sqft Lot_Size         Type       Price              Address
2325    2    1   840      NaN  Residential  349900 CAD  76 CHESTNUT Avenue
2326    2    1  1062      NaN  Residential  499000 CAD  976 County Road 13
2327  NaN    2  1400      NaN  Residential  399900 CAD        351 Scott St
2328    2    1   NaN      NaN  Residential  399900 CAD     99 Eagle Avenue
2329    5    2  1695      NaN  Residential  159900 CAD     610 Duke Street

In [5]:
for column in Point2_data:
    print(str(column) + ' column has '+ str(Point2_data[column].isnull().sum()) + ' NaNs')

Beds column has 102 NaNs
Bath column has 116 NaNs
Sqft column has 2121 NaNs
Lot_Size column has 2039 NaNs
Type column has 0 NaNs
Price column has 0 NaNs
Address column has 0 NaNs

In [6]:
Point2_data.to_csv('Point2_data_ON_house_under500000.csv',index=False)

#### Let's do price from 500,000 to 700,000. There are 2253 houses

In [4]:
for i in range(1,24):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Ontario&PriceMin=500%2C000&PriceMax=700%2C000&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205411&viewport=-101.4154375022499%2C40.24621161991605%2C-68.0609453147499%2C56.897161419930484&zoom=5&location_changed=&ajax=1'
    
print(url)

https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Ontario&PriceMin=500%2C000&PriceMax=700%2C000&PropertyType=House&search_mode=location&page=23&SelectedView=map_view&LocationGeoId=205411&viewport=-101.4154375022499%2C40.24621161991605%2C-68.0609453147499%2C56.897161419930484&zoom=5&location_changed=&ajax=1

In [9]:
data = {}
soups = {}
tables_ON = []
# Create a df to store info
Point2_data = pd.DataFrame(columns=['Beds','Bath','Sqft','Lot_Size','Type','Price','Address'])
for i in range(1,24):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Ontario&PriceMin=500%2C000&PriceMax=700%2C000&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205411&viewport=-101.4154375022499%2C40.24621161991605%2C-68.0609453147499%2C56.897161419930484&zoom=5&location_changed=&ajax=1'
    data = requests.get(url).text
    soup = BeautifulSoup(data, 'html.parser')
    tables_ON.append(soup.find_all("div", class_="item-details"))
    
    # extract information from each table
    for table in (tables_ON[(i-1)]):
        if (len(str(table.find_all("li", class_='ic-beds')).split())<3):
            Nbed = float("NaN")
        else:
            Nbed = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-beds')))))
        
        if (len(str(table.find_all("li", class_='ic-baths')).split())<3):
            NBath = float("NaN")
        else:
            NBath = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-baths')))))
        
        if (len(str(table.find_all("li", class_='ic-sqft')).split())<3):
            NSqft = float("NaN")
        else:
            NSqft = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-sqft')))))
    
        if (len(str(table.find_all("li", class_='ic-lotsize')).split())<4):
            NLot_Size = float("NaN")
        else:
            NLot_Size = str(table.find_all("li", class_='ic-lotsize')).split()[4][-4:]
        
        if (len(str(table.find_all("li", class_='ic-proptype')).split())<3):
            NType = float("NaN")
        else:
            NType = str(table.find_all("li", class_='ic-proptype')).split()[3]


        NPrice = str(table.find("div", class_='price')['data-price'].replace('$','').replace(',',''))
        NAddress = table.find("div", class_='item-address')['data-address']
    # append data into the table 
        Point2_data = Point2_data.append({'Beds':Nbed,'Bath':NBath,'Sqft':NSqft,'Lot_Size':NLot_Size,'Type':NType,'Price':NPrice,'Address':NAddress},ignore_index=True)

In [10]:
Point2_data.tail()

     Beds Bath  Sqft Lot_Size         Type       Price               Address
2247    3    2  1099      NaN  Residential  699999 CAD   88 Sandra Crescent
2248    3    2  1535      NaN  Residential  599000 CAD  11 Catherine Street
2249    3    2   NaN      NaN  Residential  529900 CAD   42 Hewitt Crescent
2250    2    2  1625      NaN  Residential  699902 CAD  980 Golf Links Road
2251    4    2   NaN      NaN  Residential  659900 CAD     161 Ridge Road S

Only collect 2252 housing information, I think the website has a counting issue.

In [11]:
for column in Point2_data:
    print(str(column) + ' column has '+ str(Point2_data[column].isnull().sum()) + ' NaNs')

Beds column has 80 NaNs
Bath column has 86 NaNs
Sqft column has 1944 NaNs
Lot_Size column has 1958 NaNs
Type column has 0 NaNs
Price column has 0 NaNs
Address column has 0 NaNs

In [12]:
Point2_data.to_csv('Point2_data_ON_house_500kto700k.csv',index=False)

#### Let's do price from 700,000 to 900,000. There are 2461 houses

In [5]:
for i in range(1,26):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Ontario&PriceMin=700%2C000&PriceMax=900%2C000&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205411&viewport=-83.4430729234375%2C41.93591628860508%2C-75.1044498765625%2C46.49926189549991&zoom=7&location_changed=&ajax=1'
    
print(url)

https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Ontario&PriceMin=700%2C000&PriceMax=900%2C000&PropertyType=House&search_mode=location&page=25&SelectedView=map_view&LocationGeoId=205411&viewport=-83.4430729234375%2C41.93591628860508%2C-75.1044498765625%2C46.49926189549991&zoom=7&location_changed=&ajax=1

In [14]:
data = {}
soups = {}
tables_ON = []
# Create a df to store info
Point2_data = pd.DataFrame(columns=['Beds','Bath','Sqft','Lot_Size','Type','Price','Address'])
for i in range(1,26):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Ontario&PriceMin=700%2C000&PriceMax=900%2C000&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205411&viewport=-83.4430729234375%2C41.93591628860508%2C-75.1044498765625%2C46.49926189549991&zoom=7&location_changed=&ajax=1'
    data = requests.get(url).text
    soup = BeautifulSoup(data, 'html.parser')
    tables_ON.append(soup.find_all("div", class_="item-details"))
    
    # extract information from each table
    for table in (tables_ON[(i-1)]):
        if (len(str(table.find_all("li", class_='ic-beds')).split())<3):
            Nbed = float("NaN")
        else:
            Nbed = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-beds')))))
        
        if (len(str(table.find_all("li", class_='ic-baths')).split())<3):
            NBath = float("NaN")
        else:
            NBath = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-baths')))))
        
        if (len(str(table.find_all("li", class_='ic-sqft')).split())<3):
            NSqft = float("NaN")
        else:
            NSqft = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-sqft')))))
    
        if (len(str(table.find_all("li", class_='ic-lotsize')).split())<4):
            NLot_Size = float("NaN")
        else:
            NLot_Size = str(table.find_all("li", class_='ic-lotsize')).split()[4][-4:]
        
        if (len(str(table.find_all("li", class_='ic-proptype')).split())<3):
            NType = float("NaN")
        else:
            NType = str(table.find_all("li", class_='ic-proptype')).split()[3]


        NPrice = str(table.find("div", class_='price')['data-price'].replace('$','').replace(',',''))
        NAddress = table.find("div", class_='item-address')['data-address']
    # append data into the table 
        Point2_data = Point2_data.append({'Beds':Nbed,'Bath':NBath,'Sqft':NSqft,'Lot_Size':NLot_Size,'Type':NType,'Price':NPrice,'Address':NAddress},ignore_index=True)

In [15]:
Point2_data.tail()

,Beds,Bath,Sqft,Lot_Size,Type,Price,Address
2453,2,2,NaN,NaN,Single,879900 CAD,LOT457/458 YOUNG Avenue
2454,3,4,1930,NaN,Residential,899900 CAD,143 OAK PARK Drive
2455,NaN,NaN,NaN,NaN,Residential,899900 CAD,817 South Dr
2456,3,1,1370,NaN,Residential,899000 CAD,116 EMICK Drive
2457,2,2,1522,NaN,Residential,809900 CAD,3580 Edinburg Road

Only collect 2457 housing information, same issue.

In [16]:
for column in Point2_data:
    print(str(column) + ' column has '+ str(Point2_data[column].isnull().sum()) + ' NaNs')

Beds column has 71 NaNs
Bath column has 76 NaNs
Sqft column has 2156 NaNs
Lot_Size column has 2161 NaNs
Type column has 0 NaNs
Price column has 0 NaNs
Address column has 0 NaNs

In [17]:
Point2_data.to_csv('Point2_data_ON_house_700kto900k.csv',index=False)

#### Let's do price from 900,000 to 1,250,000. There are 2315 houses

In [6]:
for i in range(1,25):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Ontario&PriceMin=900%2C000&PriceMax=1%2C250%2C000&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205411&viewport=-101.4154375022499%2C40.24621161991605%2C-68.0609453147499%2C56.897161419930484&zoom=5&location_changed=&ajax=1'
    
print(url)

https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Ontario&PriceMin=900%2C000&PriceMax=1%2C250%2C000&PropertyType=House&search_mode=location&page=24&SelectedView=map_view&LocationGeoId=205411&viewport=-101.4154375022499%2C40.24621161991605%2C-68.0609453147499%2C56.897161419930484&zoom=5&location_changed=&ajax=1

In [19]:
data = {}
soups = {}
tables_ON = []
# Create a df to store info
Point2_data = pd.DataFrame(columns=['Beds','Bath','Sqft','Lot_Size','Type','Price','Address'])
for i in range(1,25):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Ontario&PriceMin=900%2C000&PriceMax=1%2C250%2C000&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205411&viewport=-101.4154375022499%2C40.24621161991605%2C-68.0609453147499%2C56.897161419930484&zoom=5&location_changed=&ajax=1'
    data = requests.get(url).text
    soup = BeautifulSoup(data, 'html.parser')
    tables_ON.append(soup.find_all("div", class_="item-details"))
    
    # extract information from each table
    for table in (tables_ON[(i-1)]):
        if (len(str(table.find_all("li", class_='ic-beds')).split())<3):
            Nbed = float("NaN")
        else:
            Nbed = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-beds')))))
        
        if (len(str(table.find_all("li", class_='ic-baths')).split())<3):
            NBath = float("NaN")
        else:
            NBath = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-baths')))))
        
        if (len(str(table.find_all("li", class_='ic-sqft')).split())<3):
            NSqft = float("NaN")
        else:
            NSqft = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-sqft')))))
    
        if (len(str(table.find_all("li", class_='ic-lotsize')).split())<4):
            NLot_Size = float("NaN")
        else:
            NLot_Size = str(table.find_all("li", class_='ic-lotsize')).split()[4][-4:]
        
        if (len(str(table.find_all("li", class_='ic-proptype')).split())<3):
            NType = float("NaN")
        else:
            NType = str(table.find_all("li", class_='ic-proptype')).split()[3]


        NPrice = str(table.find("div", class_='price')['data-price'].replace('$','').replace(',',''))
        NAddress = table.find("div", class_='item-address')['data-address']
    # append data into the table 
        Point2_data = Point2_data.append({'Beds':Nbed,'Bath':NBath,'Sqft':NSqft,'Lot_Size':NLot_Size,'Type':NType,'Price':NPrice,'Address':NAddress},ignore_index=True)

In [20]:
Point2_data.tail()

,Beds,Bath,Sqft,Lot_Size,Type,Price,Address
2310,2,2,1498,NaN,Residential,949900 CAD,1077 Clearview Avenue
2311,5,3,2799,NaN,Residential,949900 CAD,1431 Upper Wellington St
2312,4,3,NaN,NaN,Single,999000 CAD,61 HALSEY AVE
2313,4,4,NaN,NaN,Single,1249900 CAD,632 MCGILL LANE
2314,3,1,NaN,NaN,Single,1200000 CAD,190 Shingwak RD

In [21]:
for column in Point2_data:
    print(str(column) + ' column has '+ str(Point2_data[column].isnull().sum()) + ' NaNs')

Beds column has 106 NaNs
Bath column has 114 NaNs
Sqft column has 2023 NaNs
Lot_Size column has 2068 NaNs
Type column has 0 NaNs
Price column has 0 NaNs
Address column has 0 NaNs

In [22]:
Point2_data.to_csv('Point2_data_ON_house_900kto1250k.csv',index=False)

#### Let's do price from 1,250,000 to 2,000,000. There are 2436 houses

In [7]:
for i in range(1,26):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Ontario&PriceMin=1%2C250%2C000&PriceMax=2%2C000%2C000&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205411&viewport=-83.15645852343751%2C41.60431432570946%2C-74.81783547656251%2C46.1923445370515&zoom=7&location_changed=&ajax=1'
    
print(url)

https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Ontario&PriceMin=1%2C250%2C000&PriceMax=2%2C000%2C000&PropertyType=House&search_mode=location&page=25&SelectedView=map_view&LocationGeoId=205411&viewport=-83.15645852343751%2C41.60431432570946%2C-74.81783547656251%2C46.1923445370515&zoom=7&location_changed=&ajax=1

In [25]:
data = {}
soups = {}
tables_ON = []
# Create a df to store info
Point2_data = pd.DataFrame(columns=['Beds','Bath','Sqft','Lot_Size','Type','Price','Address'])
for i in range(1,26):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Ontario&PriceMin=1%2C250%2C000&PriceMax=2%2C000%2C000&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205411&viewport=-83.15645852343751%2C41.60431432570946%2C-74.81783547656251%2C46.1923445370515&zoom=7&location_changed=&ajax=1'
    data = requests.get(url).text
    soup = BeautifulSoup(data, 'html.parser')
    tables_ON.append(soup.find_all("div", class_="item-details"))
    
    # extract information from each table
    for table in (tables_ON[(i-1)]):
        if (len(str(table.find_all("li", class_='ic-beds')).split())<3):
            Nbed = float("NaN")
        else:
            Nbed = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-beds')))))
        
        if (len(str(table.find_all("li", class_='ic-baths')).split())<3):
            NBath = float("NaN")
        else:
            NBath = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-baths')))))
        
        if (len(str(table.find_all("li", class_='ic-sqft')).split())<3):
            NSqft = float("NaN")
        else:
            NSqft = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-sqft')))))
    
        if (len(str(table.find_all("li", class_='ic-lotsize')).split())<4):
            NLot_Size = float("NaN")
        else:
            NLot_Size = str(table.find_all("li", class_='ic-lotsize')).split()[4][-4:]
        
        if (len(str(table.find_all("li", class_='ic-proptype')).split())<3):
            NType = float("NaN")
        else:
            NType = str(table.find_all("li", class_='ic-proptype')).split()[3]


        NPrice = str(table.find("div", class_='price')['data-price'].replace('$','').replace(',',''))
        NAddress = table.find("div", class_='item-address')['data-address']
    # append data into the table 
        Point2_data = Point2_data.append({'Beds':Nbed,'Bath':NBath,'Sqft':NSqft,'Lot_Size':NLot_Size,'Type':NType,'Price':NPrice,'Address':NAddress},ignore_index=True)

In [26]:
Point2_data.tail()

,Beds,Bath,Sqft,Lot_Size,Type,Price,Address
2429,6,5,NaN,NaN,Single,1599988 CAD,44 ARROWPOINT DR W
2430,9,9,NaN,NaN,Single,1888888 CAD,534-536 ROGERS RD
2431,3,3,NaN,1.88,Residential,1600000 CAD,Bloorvista at Islington Terrace
2432,4,3,NaN,4.58,Single,1300000 CAD,315 WAYSIDE DRIVE
2433,6,3,NaN,NaN,Single,1588000 CAD,1105 LILLIAN ST

Only collect 2434 housing information, Same issue.

In [27]:
for column in Point2_data:
    print(str(column) + ' column has '+ str(Point2_data[column].isnull().sum()) + ' NaNs')

Beds column has 71 NaNs
Bath column has 70 NaNs
Sqft column has 2120 NaNs
Lot_Size column has 2139 NaNs
Type column has 0 NaNs
Price column has 0 NaNs
Address column has 0 NaNs

In [28]:
Point2_data.to_csv('Point2_data_ON_house_1250kto2000k.csv',index=False)

#### Let's do price greater than 2,000,000. There are 1677 houses

In [8]:
for i in range(1,18):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Ontario&PriceMin=2%2C000%2C000&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205411&viewport=-81.77204777343749%2C41.97814845592482%2C-73.43342472656249%2C46.53834048311052&zoom=7&location_changed=&ajax=1'
    
print(url)

https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Ontario&PriceMin=2%2C000%2C000&PropertyType=House&search_mode=location&page=17&SelectedView=map_view&LocationGeoId=205411&viewport=-81.77204777343749%2C41.97814845592482%2C-73.43342472656249%2C46.53834048311052&zoom=7&location_changed=&ajax=1

In [32]:
data = {}
soups = {}
tables_ON = []
# Create a df to store info
Point2_data = pd.DataFrame(columns=['Beds','Bath','Sqft','Lot_Size','Type','Price','Address'])
for i in range(1,18):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Ontario&PriceMin=2%2C000%2C000&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205411&viewport=-81.77204777343749%2C41.97814845592482%2C-73.43342472656249%2C46.53834048311052&zoom=7&location_changed=&ajax=1'
    data = requests.get(url).text
    soup = BeautifulSoup(data, 'html.parser')
    tables_ON.append(soup.find_all("div", class_="item-details"))
    
    # extract information from each table
    for table in (tables_ON[(i-1)]):
        if (len(str(table.find_all("li", class_='ic-beds')).split())<3):
            Nbed = float("NaN")
        else:
            Nbed = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-beds')))))
        
        if (len(str(table.find_all("li", class_='ic-baths')).split())<3):
            NBath = float("NaN")
        else:
            NBath = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-baths')))))
        
        if (len(str(table.find_all("li", class_='ic-sqft')).split())<3):
            NSqft = float("NaN")
        else:
            NSqft = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-sqft')))))
    
        if (len(str(table.find_all("li", class_='ic-lotsize')).split())<4):
            NLot_Size = float("NaN")
        else:
            NLot_Size = str(table.find_all("li", class_='ic-lotsize')).split()[4][-4:]
        
        if (len(str(table.find_all("li", class_='ic-proptype')).split())<3):
            NType = float("NaN")
        else:
            NType = str(table.find_all("li", class_='ic-proptype')).split()[3]


        NPrice = str(table.find("div", class_='price')['data-price'].replace('$','').replace(',',''))
        NAddress = table.find("div", class_='item-address')['data-address']
    # append data into the table 
        Point2_data = Point2_data.append({'Beds':Nbed,'Bath':NBath,'Sqft':NSqft,'Lot_Size':NLot_Size,'Type':NType,'Price':NPrice,'Address':NAddress},ignore_index=True)

In [33]:
Point2_data.tail()

,Beds,Bath,Sqft,Lot_Size,Type,Price,Address
1671,4,4,NaN,NaN,Residential,4290000 CAD,14 Oakcrest Ave
1672,2,1,NaN,NaN,Single,10000000 CAD,12864 INNIS LAKE DR
1673,6,4,3920,NaN,Residential,2200000 CAD,1089 North Service Road
1674,5,9,NaN,NaN,Single,3500000 CAD,1694 CENTRE RD
1675,5,3,NaN,NaN,Single,6175000 CAD,3650 EGLINTON AVE W

Only collect 1676 housing information, Same issue.

In [34]:
for column in Point2_data:
    print(str(column) + ' column has '+ str(Point2_data[column].isnull().sum()) + ' NaNs')

Beds column has 52 NaNs
Bath column has 59 NaNs
Sqft column has 1499 NaNs
Lot_Size column has 1452 NaNs
Type column has 0 NaNs
Price column has 0 NaNs
Address column has 0 NaNs

In [35]:
Point2_data.to_csv('Point2_data_ON_house_2000kup.csv',index=False)