## I will collect all the houses which drop a price in last 6 month

In [1]:
# Import requests
import requests
from bs4 import BeautifulSoup
import pandas as pd

### NS

In [2]:
for i in range(1,3):
    url='https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Nova+Scotia&PropertyType=House&search_mode=location&CheckboxPriceDrop=on&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205403&viewport=-67.21871554643741%2C42.95585923041173%2C-58.88009249956241%2C47.442429466642906&zoom=7&location_changed=&ajax=1'
    
print(url)

https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Nova+Scotia&PropertyType=House&search_mode=location&CheckboxPriceDrop=on&page=2&SelectedView=map_view&LocationGeoId=205403&viewport=-67.21871554643741%2C42.95585923041173%2C-58.88009249956241%2C47.442429466642906&zoom=7&location_changed=&ajax=1

In [4]:
data = {}
soups = {}
tables_NS = []
# Create a df to store info
Point2_data = pd.DataFrame(columns=['Beds','Bath','Sqft','Lot_Size','Type','Price','Address'])
for i in range(1,3):
    url='https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Nova+Scotia&PropertyType=House&search_mode=location&CheckboxPriceDrop=on&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205403&viewport=-67.21871554643741%2C42.95585923041173%2C-58.88009249956241%2C47.442429466642906&zoom=7&location_changed=&ajax=1'
    data = requests.get(url).text
    soup = BeautifulSoup(data, 'html.parser')
    tables_NS.append(soup.find_all("div", class_="item-details"))
    
    # extract information from each table
    for table in (tables_NS[(i-1)]):
        if (len(str(table.find_all("li", class_='ic-beds')).split())<3):
            Nbed = float("NaN")
        else:
            Nbed = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-beds')))))
        
        if (len(str(table.find_all("li", class_='ic-baths')).split())<3):
            NBath = float("NaN")
        else:
            NBath = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-baths')))))
        
        if (len(str(table.find_all("li", class_='ic-sqft')).split())<3):
            NSqft = float("NaN")
        else:
            NSqft = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-sqft')))))
    
        if (len(str(table.find_all("li", class_='ic-lotsize')).split())<4):
            NLot_Size = float("NaN")
        else:
            NLot_Size = str(table.find_all("li", class_='ic-lotsize')).split()[4][-4:]
        
        if (len(str(table.find_all("li", class_='ic-proptype')).split())<3):
            NType = float("NaN")
        else:
            NType = str(table.find_all("li", class_='ic-proptype')).split()[3]


        NPrice = int(table.find("div", class_='price')['data-price'].replace('$','').replace(',','').replace('CAD',''))
        NAddress = table.find("div", class_='item-address')['data-address']
    # append data into the table 
        Point2_data = Point2_data.append({'Beds':Nbed,'Bath':NBath,'Sqft':NSqft,'Lot_Size':NLot_Size,'Type':NType,'Price':NPrice,'Address':NAddress},ignore_index=True)

In [5]:
Point2_data.tail()

    Beds Bath  Sqft Lot_Size         Type   Price                   Address
111    5    1  1796      NaN  Residential   80000          277 Highway 217
112    3    1   808     .335  Residential  249000  1833 Eastern Shore Road
113    3    1  2412      NaN       Single  349000            62 Smith Road
114    3    2  1908     2.97  Residential  149000               3501 Hwy 3
115    3    1  1263     .247  Residential   82500       139 Payzant Street

In [6]:
for column in Point2_data:
    print(str(column) + ' column has '+ str(Point2_data[column].isnull().sum()) + ' NaNs')

Beds column has 0 NaNs
Bath column has 0 NaNs
Sqft column has 2 NaNs
Lot_Size column has 97 NaNs
Type column has 0 NaNs
Price column has 0 NaNs
Address column has 0 NaNs

In [7]:
Point2_data.to_csv('Point2_data_NS_Drop_price_house.csv',index=False)

### PEI

In [8]:
for i in range(1,2):
    url='https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Prince+Edward+Island&PropertyType=House&search_mode=location&CheckboxPriceDrop=on&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205408&viewport=-65.28516031571866%2C45.3536041179178%2C-61.115848792281156%2C47.548272840428936&zoom=8&location_changed=&ajax=1'
    
print(url)

https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Prince+Edward+Island&PropertyType=House&search_mode=location&CheckboxPriceDrop=on&page=1&SelectedView=map_view&LocationGeoId=205408&viewport=-65.28516031571866%2C45.3536041179178%2C-61.115848792281156%2C47.548272840428936&zoom=8&location_changed=&ajax=1

In [9]:
data = {}
soups = {}
tables_NS = []
# Create a df to store info
Point2_data = pd.DataFrame(columns=['Beds','Bath','Sqft','Lot_Size','Type','Price','Address'])
for i in range(1,2):
    url='https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Prince+Edward+Island&PropertyType=House&search_mode=location&CheckboxPriceDrop=on&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205408&viewport=-65.28516031571866%2C45.3536041179178%2C-61.115848792281156%2C47.548272840428936&zoom=8&location_changed=&ajax=1'
    data = requests.get(url).text
    soup = BeautifulSoup(data, 'html.parser')
    tables_NS.append(soup.find_all("div", class_="item-details"))
    
    # extract information from each table
    for table in (tables_NS[(i-1)]):
        if (len(str(table.find_all("li", class_='ic-beds')).split())<3):
            Nbed = float("NaN")
        else:
            Nbed = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-beds')))))
        
        if (len(str(table.find_all("li", class_='ic-baths')).split())<3):
            NBath = float("NaN")
        else:
            NBath = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-baths')))))
        
        if (len(str(table.find_all("li", class_='ic-sqft')).split())<3):
            NSqft = float("NaN")
        else:
            NSqft = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-sqft')))))
    
        if (len(str(table.find_all("li", class_='ic-lotsize')).split())<4):
            NLot_Size = float("NaN")
        else:
            NLot_Size = str(table.find_all("li", class_='ic-lotsize')).split()[4][-4:]
        
        if (len(str(table.find_all("li", class_='ic-proptype')).split())<3):
            NType = float("NaN")
        else:
            NType = str(table.find_all("li", class_='ic-proptype')).split()[3]


        NPrice = int(table.find("div", class_='price')['data-price'].replace('$','').replace(',','').replace('CAD',''))
        NAddress = table.find("div", class_='item-address')['data-address']
    # append data into the table 
        Point2_data = Point2_data.append({'Beds':Nbed,'Bath':NBath,'Sqft':NSqft,'Lot_Size':NLot_Size,'Type':NType,'Price':NPrice,'Address':NAddress},ignore_index=True)

In [10]:
Point2_data.tail()

   Beds Bath  Sqft Lot_Size         Type   Price               Address
16    2    1   900      NaN       Single  329000      55 Garwalt Lane
17    3    2  1786      NaN       Single  175000       480 Abney Road
18    3    1  1155      NaN       Single  247900          4131 RTE 17
19    4    2  2320     >0.3  Residential  399900     100 Scott Street
20    4    2   NaN     10.5  Residential  329000  2084 Valleyfield Rd

In [11]:
for column in Point2_data:
    print(str(column) + ' column has '+ str(Point2_data[column].isnull().sum()) + ' NaNs')

Beds column has 1 NaNs
Bath column has 2 NaNs
Sqft column has 4 NaNs
Lot_Size column has 11 NaNs
Type column has 0 NaNs
Price column has 0 NaNs
Address column has 0 NaNs

In [12]:
Point2_data.to_csv('Point2_data_PE_Drop_price_house.csv',index=False)

### NB

In [14]:
for i in range(1,3):
    url='https://www.point2homes.com/CA/Real-Estate-Maps.html?location=New+Brunswick&PropertyType=House&search_mode=location&CheckboxPriceDrop=on&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205405&viewport=-64.16648863085938%2C45.63589148834102%2C-62.08183286914062%2C46.7386887414935&zoom=9&location_changed=true&ajax=1'
    
print(url)

https://www.point2homes.com/CA/Real-Estate-Maps.html?location=New+Brunswick&PropertyType=House&search_mode=location&CheckboxPriceDrop=on&page=2&SelectedView=map_view&LocationGeoId=205405&viewport=-64.16648863085938%2C45.63589148834102%2C-62.08183286914062%2C46.7386887414935&zoom=9&location_changed=true&ajax=1

In [15]:
data = {}
soups = {}
tables_NS = []
# Create a df to store info
Point2_data = pd.DataFrame(columns=['Beds','Bath','Sqft','Lot_Size','Type','Price','Address'])
for i in range(1,3):
    url='https://www.point2homes.com/CA/Real-Estate-Maps.html?location=New+Brunswick&PropertyType=House&search_mode=location&CheckboxPriceDrop=on&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205405&viewport=-64.16648863085938%2C45.63589148834102%2C-62.08183286914062%2C46.7386887414935&zoom=9&location_changed=true&ajax=1'
    data = requests.get(url).text
    soup = BeautifulSoup(data, 'html.parser')
    tables_NS.append(soup.find_all("div", class_="item-details"))
    
    # extract information from each table
    for table in (tables_NS[(i-1)]):
        if (len(str(table.find_all("li", class_='ic-beds')).split())<3):
            Nbed = float("NaN")
        else:
            Nbed = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-beds')))))
        
        if (len(str(table.find_all("li", class_='ic-baths')).split())<3):
            NBath = float("NaN")
        else:
            NBath = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-baths')))))
        
        if (len(str(table.find_all("li", class_='ic-sqft')).split())<3):
            NSqft = float("NaN")
        else:
            NSqft = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-sqft')))))
    
        if (len(str(table.find_all("li", class_='ic-lotsize')).split())<4):
            NLot_Size = float("NaN")
        else:
            NLot_Size = str(table.find_all("li", class_='ic-lotsize')).split()[4][-4:]
        
        if (len(str(table.find_all("li", class_='ic-proptype')).split())<3):
            NType = float("NaN")
        else:
            NType = str(table.find_all("li", class_='ic-proptype')).split()[3]


        NPrice = int(table.find("div", class_='price')['data-price'].replace('$','').replace(',','').replace('CAD',''))
        NAddress = table.find("div", class_='item-address')['data-address']
    # append data into the table 
        Point2_data = Point2_data.append({'Beds':Nbed,'Bath':NBath,'Sqft':NSqft,'Lot_Size':NLot_Size,'Type':NType,'Price':NPrice,'Address':NAddress},ignore_index=True)

In [16]:
Point2_data.tail()

    Beds Bath  Sqft Lot_Size    Type   Price                           Address
117    2    1   NaN      NaN  Single   55000                         19 Rioux
118    3    2   NaN     .201  Single  349000                210 Wright Street
119    1  NaN   NaN     1.71  Single   39900  Lot 93-2 Pokiok Settlement Road
120    2    1   NaN     3.22  Single   79000               848 Boul St Joseph
121    3    1  1125      NaN  Single  129900            59 Schooner Cove Road

In [17]:
for column in Point2_data:
    print(str(column) + ' column has '+ str(Point2_data[column].isnull().sum()) + ' NaNs')

Beds column has 7 NaNs
Bath column has 8 NaNs
Sqft column has 54 NaNs
Lot_Size column has 66 NaNs
Type column has 0 NaNs
Price column has 0 NaNs
Address column has 0 NaNs

In [18]:
Point2_data.to_csv('Point2_data_NB_Drop_price_house.csv',index=False)

### NL

In [19]:
for i in range(1,3):
    url='https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Newfoundland+and+Labrador&PropertyType=House&search_mode=location&CheckboxPriceDrop=on&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205409&viewport=-70.5033065889374%2C44.07796464156973%2C-62.164683542062406%2C48.47860930093096&zoom=7&location_changed=true&ajax=1'
    
print(url)

https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Newfoundland+and+Labrador&PropertyType=House&search_mode=location&CheckboxPriceDrop=on&page=2&SelectedView=map_view&LocationGeoId=205409&viewport=-70.5033065889374%2C44.07796464156973%2C-62.164683542062406%2C48.47860930093096&zoom=7&location_changed=true&ajax=1

In [20]:
data = {}
soups = {}
tables_NS = []
# Create a df to store info
Point2_data = pd.DataFrame(columns=['Beds','Bath','Sqft','Lot_Size','Type','Price','Address'])
for i in range(1,3):
    url='https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Newfoundland+and+Labrador&PropertyType=House&search_mode=location&CheckboxPriceDrop=on&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205409&viewport=-70.5033065889374%2C44.07796464156973%2C-62.164683542062406%2C48.47860930093096&zoom=7&location_changed=true&ajax=1'
    data = requests.get(url).text
    soup = BeautifulSoup(data, 'html.parser')
    tables_NS.append(soup.find_all("div", class_="item-details"))
    
    # extract information from each table
    for table in (tables_NS[(i-1)]):
        if (len(str(table.find_all("li", class_='ic-beds')).split())<3):
            Nbed = float("NaN")
        else:
            Nbed = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-beds')))))
        
        if (len(str(table.find_all("li", class_='ic-baths')).split())<3):
            NBath = float("NaN")
        else:
            NBath = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-baths')))))
        
        if (len(str(table.find_all("li", class_='ic-sqft')).split())<3):
            NSqft = float("NaN")
        else:
            NSqft = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-sqft')))))
    
        if (len(str(table.find_all("li", class_='ic-lotsize')).split())<4):
            NLot_Size = float("NaN")
        else:
            NLot_Size = str(table.find_all("li", class_='ic-lotsize')).split()[4][-4:]
        
        if (len(str(table.find_all("li", class_='ic-proptype')).split())<3):
            NType = float("NaN")
        else:
            NType = str(table.find_all("li", class_='ic-proptype')).split()[3]


        NPrice = int(table.find("div", class_='price')['data-price'].replace('$','').replace(',','').replace('CAD',''))
        NAddress = table.find("div", class_='item-address')['data-address']
    # append data into the table 
        Point2_data = Point2_data.append({'Beds':Nbed,'Bath':NBath,'Sqft':NSqft,'Lot_Size':NLot_Size,'Type':NType,'Price':NPrice,'Address':NAddress},ignore_index=True)

In [21]:
Point2_data.tail()

    Beds Bath  Sqft Lot_Size         Type   Price                     Address
100    4    5  3256      NaN       Single  525000           170 Water Street
101    3    2  2704      NaN  Residential   99000              21 Park Drive
102    3    1   798      NaN  Residential   99900  55 Southern Shore Highway
103    3    1  2200      NaN  Residential   74900         28 Spoon Cove Road
104    2    1   990      NaN  Residential   69900               731 Main St.

In [22]:
for column in Point2_data:
    print(str(column) + ' column has '+ str(Point2_data[column].isnull().sum()) + ' NaNs')

Beds column has 3 NaNs
Bath column has 2 NaNs
Sqft column has 1 NaNs
Lot_Size column has 101 NaNs
Type column has 0 NaNs
Price column has 0 NaNs
Address column has 0 NaNs

In [23]:
Point2_data.to_csv('Point2_data_NL_Drop_price_house.csv',index=False)

### QC

In [8]:
for i in range(1,2):
    url='https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Quebec&PropertyType=House&search_mode=location&CheckboxPriceDrop=on&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205402&viewport=-76.87923664874991%2C45.21138652572289%2C-43.52474446124991%2C60.41271904743517&zoom=5&location_changed=true&ajax=1'
    
print(url)

https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Prince+Edward+Island&PropertyType=House&search_mode=location&CheckboxPriceDrop=on&page=1&SelectedView=map_view&LocationGeoId=205408&viewport=-65.28516031571866%2C45.3536041179178%2C-61.115848792281156%2C47.548272840428936&zoom=8&location_changed=&ajax=1

In [24]:
data = {}
soups = {}
tables_NS = []
# Create a df to store info
Point2_data = pd.DataFrame(columns=['Beds','Bath','Sqft','Lot_Size','Type','Price','Address'])
for i in range(1,2):
    url='https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Quebec&PropertyType=House&search_mode=location&CheckboxPriceDrop=on&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205402&viewport=-76.87923664874991%2C45.21138652572289%2C-43.52474446124991%2C60.41271904743517&zoom=5&location_changed=true&ajax=1'
    data = requests.get(url).text
    soup = BeautifulSoup(data, 'html.parser')
    tables_NS.append(soup.find_all("div", class_="item-details"))
    
    # extract information from each table
    for table in (tables_NS[(i-1)]):
        if (len(str(table.find_all("li", class_='ic-beds')).split())<3):
            Nbed = float("NaN")
        else:
            Nbed = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-beds')))))
        
        if (len(str(table.find_all("li", class_='ic-baths')).split())<3):
            NBath = float("NaN")
        else:
            NBath = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-baths')))))
        
        if (len(str(table.find_all("li", class_='ic-sqft')).split())<3):
            NSqft = float("NaN")
        else:
            NSqft = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-sqft')))))
    
        if (len(str(table.find_all("li", class_='ic-lotsize')).split())<4):
            NLot_Size = float("NaN")
        else:
            NLot_Size = str(table.find_all("li", class_='ic-lotsize')).split()[4][-4:]
        
        if (len(str(table.find_all("li", class_='ic-proptype')).split())<3):
            NType = float("NaN")
        else:
            NType = str(table.find_all("li", class_='ic-proptype')).split()[3]


        NPrice = int(table.find("div", class_='price')['data-price'].replace('$','').replace(',','').replace('CAD',''))
        NAddress = table.find("div", class_='item-address')['data-address']
    # append data into the table 
        Point2_data = Point2_data.append({'Beds':Nbed,'Bath':NBath,'Sqft':NSqft,'Lot_Size':NLot_Size,'Type':NType,'Price':NPrice,'Address':NAddress},ignore_index=True)

In [25]:
Point2_data.tail()

   Beds Bath    Sqft Lot_Size         Type   Price                    Address
49    3    2  266504     .553  Residential  585000  1989 Ch. du Lac-Panneton
50  NaN    1     NaN     .107  Residential   55000       2261 Ch. du Village
51    5    2     NaN     .254  Residential  115000        41 Rue des Pins E.
52    3    2  221209     .143  Residential  395000        4191 Av. Larivière
53    2    2  448005     .289  Residential  699000     58 Ch. de la Sablière

In [26]:
for column in Point2_data:
    print(str(column) + ' column has '+ str(Point2_data[column].isnull().sum()) + ' NaNs')

Beds column has 4 NaNs
Bath column has 2 NaNs
Sqft column has 31 NaNs
Lot_Size column has 10 NaNs
Type column has 0 NaNs
Price column has 0 NaNs
Address column has 0 NaNs

In [27]:
Point2_data.to_csv('Point2_data_QC_Drop_price_house.csv',index=False)

### ON

In [8]:
for i in range(1,5):
    url='https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Ontario&PropertyType=House&search_mode=location&CheckboxPriceDrop=on&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205411&viewport=-101.79430289849988%2C35.94887050929101%2C-35.085318523499886%2C66.33187574642349&zoom=4&location_changed=true&ajax=1'
    
print(url)

https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Prince+Edward+Island&PropertyType=House&search_mode=location&CheckboxPriceDrop=on&page=1&SelectedView=map_view&LocationGeoId=205408&viewport=-65.28516031571866%2C45.3536041179178%2C-61.115848792281156%2C47.548272840428936&zoom=8&location_changed=&ajax=1

In [28]:
data = {}
soups = {}
tables_NS = []
# Create a df to store info
Point2_data = pd.DataFrame(columns=['Beds','Bath','Sqft','Lot_Size','Type','Price','Address'])
for i in range(1,5):
    url='https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Ontario&PropertyType=House&search_mode=location&CheckboxPriceDrop=on&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205411&viewport=-101.79430289849988%2C35.94887050929101%2C-35.085318523499886%2C66.33187574642349&zoom=4&location_changed=true&ajax=1'
    data = requests.get(url).text
    soup = BeautifulSoup(data, 'html.parser')
    tables_NS.append(soup.find_all("div", class_="item-details"))
    
    # extract information from each table
    for table in (tables_NS[(i-1)]):
        if (len(str(table.find_all("li", class_='ic-beds')).split())<3):
            Nbed = float("NaN")
        else:
            Nbed = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-beds')))))
        
        if (len(str(table.find_all("li", class_='ic-baths')).split())<3):
            NBath = float("NaN")
        else:
            NBath = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-baths')))))
        
        if (len(str(table.find_all("li", class_='ic-sqft')).split())<3):
            NSqft = float("NaN")
        else:
            NSqft = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-sqft')))))
    
        if (len(str(table.find_all("li", class_='ic-lotsize')).split())<4):
            NLot_Size = float("NaN")
        else:
            NLot_Size = str(table.find_all("li", class_='ic-lotsize')).split()[4][-4:]
        
        if (len(str(table.find_all("li", class_='ic-proptype')).split())<3):
            NType = float("NaN")
        else:
            NType = str(table.find_all("li", class_='ic-proptype')).split()[3]


        NPrice = int(table.find("div", class_='price')['data-price'].replace('$','').replace(',','').replace('CAD',''))
        NAddress = table.find("div", class_='item-address')['data-address']
    # append data into the table 
        Point2_data = Point2_data.append({'Beds':Nbed,'Bath':NBath,'Sqft':NSqft,'Lot_Size':NLot_Size,'Type':NType,'Price':NPrice,'Address':NAddress},ignore_index=True)

In [29]:
Point2_data.tail()

    Beds Bath  Sqft Lot_Size         Type    Price                     Address
298    3    5   NaN      NaN       Single  2999000             39 QUARRY Road
299    2    1   876      NaN  Residential   449000         45 DRUMMOND Street
300    3    1   NaN      NaN       Single   179000           1 Syenite Street
301    2    1   NaN     >2.8       Single   549000  1691 A BUCKSHOT LAKE Road
302    3    3  1800      NaN  Residential   849900              87 Prior Lane

In [30]:
for column in Point2_data:
    print(str(column) + ' column has '+ str(Point2_data[column].isnull().sum()) + ' NaNs')

Beds column has 17 NaNs
Bath column has 17 NaNs
Sqft column has 275 NaNs
Lot_Size column has 218 NaNs
Type column has 0 NaNs
Price column has 0 NaNs
Address column has 0 NaNs

In [31]:
Point2_data.to_csv('Point2_data_ON_Drop_price_house.csv',index=False)

### MB

In [32]:
for i in range(1,2):
    url='https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Manitoba&PropertyType=House&search_mode=location&CheckboxPriceDrop=on&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205406&viewport=-101.4154375022499%2C40.24621161991605%2C-68.0609453147499%2C56.897161419930484&zoom=5&location_changed=true&ajax=1'
    
print(url)

https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Manitoba&PropertyType=House&search_mode=location&CheckboxPriceDrop=on&page=1&SelectedView=map_view&LocationGeoId=205406&viewport=-101.4154375022499%2C40.24621161991605%2C-68.0609453147499%2C56.897161419930484&zoom=5&location_changed=true&ajax=1

In [33]:
data = {}
soups = {}
tables_NS = []
# Create a df to store info
Point2_data = pd.DataFrame(columns=['Beds','Bath','Sqft','Lot_Size','Type','Price','Address'])
for i in range(1,2):
    url='https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Manitoba&PropertyType=House&search_mode=location&CheckboxPriceDrop=on&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205406&viewport=-101.4154375022499%2C40.24621161991605%2C-68.0609453147499%2C56.897161419930484&zoom=5&location_changed=true&ajax=1'
    data = requests.get(url).text
    soup = BeautifulSoup(data, 'html.parser')
    tables_NS.append(soup.find_all("div", class_="item-details"))
    
    # extract information from each table
    for table in (tables_NS[(i-1)]):
        if (len(str(table.find_all("li", class_='ic-beds')).split())<3):
            Nbed = float("NaN")
        else:
            Nbed = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-beds')))))
        
        if (len(str(table.find_all("li", class_='ic-baths')).split())<3):
            NBath = float("NaN")
        else:
            NBath = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-baths')))))
        
        if (len(str(table.find_all("li", class_='ic-sqft')).split())<3):
            NSqft = float("NaN")
        else:
            NSqft = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-sqft')))))
    
        if (len(str(table.find_all("li", class_='ic-lotsize')).split())<4):
            NLot_Size = float("NaN")
        else:
            NLot_Size = str(table.find_all("li", class_='ic-lotsize')).split()[4][-4:]
        
        if (len(str(table.find_all("li", class_='ic-proptype')).split())<3):
            NType = float("NaN")
        else:
            NType = str(table.find_all("li", class_='ic-proptype')).split()[3]


        NPrice = int(table.find("div", class_='price')['data-price'].replace('$','').replace(',','').replace('CAD',''))
        NAddress = table.find("div", class_='item-address')['data-address']
    # append data into the table 
        Point2_data = Point2_data.append({'Beds':Nbed,'Bath':NBath,'Sqft':NSqft,'Lot_Size':NLot_Size,'Type':NType,'Price':NPrice,'Address':NAddress},ignore_index=True)

In [34]:
Point2_data.tail()

   Beds Bath  Sqft Lot_Size    Type   Price                 Address
27    3    2  1740      NaN  Single  299900     75 Hespeler Avenue
28    2    1  1057      NaN  Single   98000  204 MCMILLAN Street W
29    4    2  1980     ng>5  Single  199000   61 Kemnay Woods Lane
30    4    2  1424      NaN  Single  210000       581 Furby Street
31    2    1   520      NaN  Single   89900      131 Lisgar Avenue

In [35]:
for column in Point2_data:
    print(str(column) + ' column has '+ str(Point2_data[column].isnull().sum()) + ' NaNs')

Beds column has 0 NaNs
Bath column has 0 NaNs
Sqft column has 1 NaNs
Lot_Size column has 27 NaNs
Type column has 0 NaNs
Price column has 0 NaNs
Address column has 0 NaNs

In [36]:
Point2_data.to_csv('Point2_data_MB_Drop_price_house.csv',index=False)

### SK

In [37]:
for i in range(1,3):
    url='https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Saskatchewan&PropertyType=House&search_mode=location&CheckboxPriceDrop=on&page=' + str(i) + '&SelectedView=map_view&viewport=-122.36227689375%2C46.412863051296306%2C-89.00778470625%2C61.25279862198592&zoom=5&location_changed=true&ajax=1'
    
print(url)

https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Saskatchewan&PropertyType=House&search_mode=location&CheckboxPriceDrop=on&page=2&SelectedView=map_view&viewport=-122.36227689375%2C46.412863051296306%2C-89.00778470625%2C61.25279862198592&zoom=5&location_changed=true&ajax=1

In [38]:
data = {}
soups = {}
tables_NS = []
# Create a df to store info
Point2_data = pd.DataFrame(columns=['Beds','Bath','Sqft','Lot_Size','Type','Price','Address'])
for i in range(1,3):
    url='https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Saskatchewan&PropertyType=House&search_mode=location&CheckboxPriceDrop=on&page=' + str(i) + '&SelectedView=map_view&viewport=-122.36227689375%2C46.412863051296306%2C-89.00778470625%2C61.25279862198592&zoom=5&location_changed=true&ajax=1'
    data = requests.get(url).text
    soup = BeautifulSoup(data, 'html.parser')
    tables_NS.append(soup.find_all("div", class_="item-details"))
    
    # extract information from each table
    for table in (tables_NS[(i-1)]):
        if (len(str(table.find_all("li", class_='ic-beds')).split())<3):
            Nbed = float("NaN")
        else:
            Nbed = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-beds')))))
        
        if (len(str(table.find_all("li", class_='ic-baths')).split())<3):
            NBath = float("NaN")
        else:
            NBath = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-baths')))))
        
        if (len(str(table.find_all("li", class_='ic-sqft')).split())<3):
            NSqft = float("NaN")
        else:
            NSqft = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-sqft')))))
    
        if (len(str(table.find_all("li", class_='ic-lotsize')).split())<4):
            NLot_Size = float("NaN")
        else:
            NLot_Size = str(table.find_all("li", class_='ic-lotsize')).split()[4][-4:]
        
        if (len(str(table.find_all("li", class_='ic-proptype')).split())<3):
            NType = float("NaN")
        else:
            NType = str(table.find_all("li", class_='ic-proptype')).split()[3]


        NPrice = int(table.find("div", class_='price')['data-price'].replace('$','').replace(',','').replace('CAD',''))
        NAddress = table.find("div", class_='item-address')['data-address']
    # append data into the table 
        Point2_data = Point2_data.append({'Beds':Nbed,'Bath':NBath,'Sqft':NSqft,'Lot_Size':NLot_Size,'Type':NType,'Price':NPrice,'Address':NAddress},ignore_index=True)

In [39]:
Point2_data.tail()

    Beds Bath  Sqft Lot_Size         Type   Price              Address
192    4    2   936     .344  Residential  155000    123 4th STREET W
193    3    1   734      NaN  Residential   29500  306 Dunning STREET
194    3    3  1170      NaN  Residential  325000      13 Ling STREET
195    2    1  1044     .183       Single   95000      5620 49 Avenue
196    4    1  1032     .321  Residential   89900      509 4th AVENUE

In [40]:
for column in Point2_data:
    print(str(column) + ' column has '+ str(Point2_data[column].isnull().sum()) + ' NaNs')

Beds column has 3 NaNs
Bath column has 4 NaNs
Sqft column has 2 NaNs
Lot_Size column has 46 NaNs
Type column has 0 NaNs
Price column has 0 NaNs
Address column has 0 NaNs

In [41]:
Point2_data.to_csv('Point2_data_SK_Drop_price_house.csv',index=False)

### AB

In [42]:
for i in range(1,4):
    url='https://www.point2homes.com/CA/Real-Estate-Maps.html?location=AB&PropertyType=House&search_mode=location&CheckboxPriceDrop=on&page=' + str(i) + '&SelectedView=map_view&viewport=-122.36227689375%2C46.412863051296306%2C-89.00778470625%2C61.25279862198592&zoom=5&location_changed=true&ajax=1'
    
print(url)

https://www.point2homes.com/CA/Real-Estate-Maps.html?location=AB&PropertyType=House&search_mode=location&CheckboxPriceDrop=on&page=3&SelectedView=map_view&viewport=-122.36227689375%2C46.412863051296306%2C-89.00778470625%2C61.25279862198592&zoom=5&location_changed=true&ajax=1

In [43]:
data = {}
soups = {}
tables_NS = []
# Create a df to store info
Point2_data = pd.DataFrame(columns=['Beds','Bath','Sqft','Lot_Size','Type','Price','Address'])
for i in range(1,4):
    url='https://www.point2homes.com/CA/Real-Estate-Maps.html?location=AB&PropertyType=House&search_mode=location&CheckboxPriceDrop=on&page=' + str(i) + '&SelectedView=map_view&viewport=-122.36227689375%2C46.412863051296306%2C-89.00778470625%2C61.25279862198592&zoom=5&location_changed=true&ajax=1'
    data = requests.get(url).text
    soup = BeautifulSoup(data, 'html.parser')
    tables_NS.append(soup.find_all("div", class_="item-details"))
    
    # extract information from each table
    for table in (tables_NS[(i-1)]):
        if (len(str(table.find_all("li", class_='ic-beds')).split())<3):
            Nbed = float("NaN")
        else:
            Nbed = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-beds')))))
        
        if (len(str(table.find_all("li", class_='ic-baths')).split())<3):
            NBath = float("NaN")
        else:
            NBath = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-baths')))))
        
        if (len(str(table.find_all("li", class_='ic-sqft')).split())<3):
            NSqft = float("NaN")
        else:
            NSqft = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-sqft')))))
    
        if (len(str(table.find_all("li", class_='ic-lotsize')).split())<4):
            NLot_Size = float("NaN")
        else:
            NLot_Size = str(table.find_all("li", class_='ic-lotsize')).split()[4][-4:]
        
        if (len(str(table.find_all("li", class_='ic-proptype')).split())<3):
            NType = float("NaN")
        else:
            NType = str(table.find_all("li", class_='ic-proptype')).split()[3]


        NPrice = int(table.find("div", class_='price')['data-price'].replace('$','').replace(',','').replace('CAD',''))
        NAddress = table.find("div", class_='item-address')['data-address']
    # append data into the table 
        Point2_data = Point2_data.append({'Beds':Nbed,'Bath':NBath,'Sqft':NSqft,'Lot_Size':NLot_Size,'Type':NType,'Price':NPrice,'Address':NAddress},ignore_index=True)

In [44]:
Point2_data.tail()

    Beds Bath    Sqft Lot_Size    Type    Price                    Address
197    4    2    1468     9.88  Single  1224900     323023 Range Road 241
198    3    1    1072      NaN  Single    89900              901 4 Avenue
199    4    2    1073     9.41    Farm  2400000  28120 Township Road 381A
200    1    1  500526      NaN  Single    79900                 50 ST 4908
201    4    5    4564     3.26  Single  2000000                7510 4 AVE

In [45]:
for column in Point2_data:
    print(str(column) + ' column has '+ str(Point2_data[column].isnull().sum()) + ' NaNs')

Beds column has 3 NaNs
Bath column has 4 NaNs
Sqft column has 3 NaNs
Lot_Size column has 51 NaNs
Type column has 0 NaNs
Price column has 0 NaNs
Address column has 0 NaNs

In [46]:
Point2_data.to_csv('Point2_data_AB_Drop_price_house.csv',index=False)

### BC

In [50]:
for i in range(1,3):
    url='https://www.point2homes.com/CA/Real-Estate-Maps.html?location=BC&PropertyType=House&search_mode=location&CheckboxPriceDrop=on&page=' + str(i) + '&SelectedView=map_view&viewport=-131.67732385475%2C46.41287001707277%2C-98.32283166725%2C61.25280348111731&zoom=5&location_changed=true&ajax=1'
    
print(url)

https://www.point2homes.com/CA/Real-Estate-Maps.html?location=BC&PropertyType=House&search_mode=location&CheckboxPriceDrop=on&page=2&SelectedView=map_view&viewport=-131.67732385475%2C46.41287001707277%2C-98.32283166725%2C61.25280348111731&zoom=5&location_changed=true&ajax=1

In [52]:
data = {}
soups = {}
tables_NS = []
# Create a df to store info
Point2_data = pd.DataFrame(columns=['Beds','Bath','Sqft','Lot_Size','Type','Price','Address'])
for i in range(1,3):
    url='https://www.point2homes.com/CA/Real-Estate-Maps.html?location=BC&PropertyType=House&search_mode=location&CheckboxPriceDrop=on&page=' + str(i) + '&SelectedView=map_view&viewport=-131.67732385475%2C46.41287001707277%2C-98.32283166725%2C61.25280348111731&zoom=5&location_changed=true&ajax=1'
    data = requests.get(url).text
    soup = BeautifulSoup(data, 'html.parser')
    tables_NS.append(soup.find_all("div", class_="item-details"))
    
    # extract information from each table
    for table in (tables_NS[(i-1)]):
        if (len(str(table.find_all("li", class_='ic-beds')).split())<3):
            Nbed = float("NaN")
        else:
            Nbed = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-beds')))))
        
        if (len(str(table.find_all("li", class_='ic-baths')).split())<3):
            NBath = float("NaN")
        else:
            NBath = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-baths')))))
        
        if (len(str(table.find_all("li", class_='ic-sqft')).split())<3):
            NSqft = float("NaN")
        else:
            NSqft = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-sqft')))))
    
        if (len(str(table.find_all("li", class_='ic-lotsize')).split())<4):
            NLot_Size = float("NaN")
        else:
            NLot_Size = str(table.find_all("li", class_='ic-lotsize')).split()[4][-4:]
        
        if (len(str(table.find_all("li", class_='ic-proptype')).split())<3):
            NType = float("NaN")
        else:
            NType = str(table.find_all("li", class_='ic-proptype')).split()[3]


        NPrice = int(table.find("div", class_='price')['data-price'].replace('$','').replace(',','').replace('CAD',''))
        NAddress = table.find("div", class_='item-address')['data-address']
    # append data into the table 
        Point2_data = Point2_data.append({'Beds':Nbed,'Bath':NBath,'Sqft':NSqft,'Lot_Size':NLot_Size,'Type':NType,'Price':NPrice,'Address':NAddress},ignore_index=True)

In [53]:
Point2_data.tail()

    Beds Bath   Sqft Lot_Size         Type    Price                Address
167    3    1   1420     >175       Single   575000        8995 LOOS ROAD
168    5    8   6802     .293       Single  5999000  1507 PINECREST DRIVE
169    5   10  14956     .016       Single  8999999     133 Ravine Drive,
170    5    2   1994     .161       Single   198000     264 MURRAY Drive,
171    3    1   1968     3.31  Residential   899000       6446 Rimer Road

In [54]:
for column in Point2_data:
    print(str(column) + ' column has '+ str(Point2_data[column].isnull().sum()) + ' NaNs')

Beds column has 6 NaNs
Bath column has 8 NaNs
Sqft column has 23 NaNs
Lot_Size column has 13 NaNs
Type column has 0 NaNs
Price column has 0 NaNs
Address column has 0 NaNs

In [55]:
Point2_data.to_csv('Point2_data_BC_Drop_price_house.csv',index=False)