In [2]:
# Import requests
import requests
from bs4 import BeautifulSoup
import pandas as pd

#### Let's do housing price in MB. There are 1480 houses

In [1]:
for i in range(1,16):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Manitoba&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&viewport=-101.4154375022499%2C40.24621161991605%2C-68.0609453147499%2C56.897161419930484&zoom=5&location_changed=true&ajax=1'
    
print(url)

https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Manitoba&PropertyType=House&search_mode=location&page=15&SelectedView=map_view&viewport=-101.4154375022499%2C40.24621161991605%2C-68.0609453147499%2C56.897161419930484&zoom=5&location_changed=true&ajax=1

In [3]:
data = {}
soups = {}
tables_MB = []
# Create a df to store info
Point2_data = pd.DataFrame(columns=['Beds','Bath','Sqft','Lot_Size','Type','Price','Address'])
for i in range(1,16):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Manitoba&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&viewport=-101.4154375022499%2C40.24621161991605%2C-68.0609453147499%2C56.897161419930484&zoom=5&location_changed=true&ajax=1'
    data = requests.get(url).text
    soup = BeautifulSoup(data, 'html.parser')
    tables_MB.append(soup.find_all("div", class_="item-details"))
    
    # extract information from each table
    for table in (tables_MB[(i-1)]):
        if (len(str(table.find_all("li", class_='ic-beds')).split())<3):
            Nbed = float("NaN")
        else:
            Nbed = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-beds')))))
        
        if (len(str(table.find_all("li", class_='ic-baths')).split())<3):
            NBath = float("NaN")
        else:
            NBath = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-baths')))))
        
        if (len(str(table.find_all("li", class_='ic-sqft')).split())<3):
            NSqft = float("NaN")
        else:
            NSqft = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-sqft')))))
    
        if (len(str(table.find_all("li", class_='ic-lotsize')).split())<4):
            NLot_Size = float("NaN")
        else:
            NLot_Size = str(table.find_all("li", class_='ic-lotsize')).split()[4][-4:]
        
        if (len(str(table.find_all("li", class_='ic-proptype')).split())<3):
            NType = float("NaN")
        else:
            NType = str(table.find_all("li", class_='ic-proptype')).split()[3]


        NPrice = str(table.find("div", class_='price')['data-price'].replace('$','').replace(',',''))
        NAddress = table.find("div", class_='item-address')['data-address']
    # append data into the table 
        Point2_data = Point2_data.append({'Beds':Nbed,'Bath':NBath,'Sqft':NSqft,'Lot_Size':NLot_Size,'Type':NType,'Price':NPrice,'Address':NAddress},ignore_index=True)

In [4]:
Point2_data.tail()

,Beds,Bath,Sqft,Lot_Size,Type,Price,Address
1475,3,2,1600,",038",Farm,3400000 CAD,"96062 Road 135N; Excellent 3,038 Acre Mixed Fa..."
1476,3,2,1271,NaN,Residential,359900 CAD,180 Park Grove
1477,3,2,1040,",583",Farm,1800000 CAD,"9,583 Acre Cattle Ranch - East of Rorketon, MB."
1478,7,6,3860,1.07,Single,720000 CAD,171 Oak Bluff Road
1479,4,2,1690,NaN,Residential,199900 CAD,276 Vivian Street

In [5]:
for column in Point2_data:
    print(str(column) + ' column has '+ str(Point2_data[column].isnull().sum()) + ' NaNs')

Beds column has 31 NaNs
Bath column has 47 NaNs
Sqft column has 42 NaNs
Lot_Size column has 1261 NaNs
Type column has 0 NaNs
Price column has 0 NaNs
Address column has 0 NaNs

In [6]:
Point2_data.to_csv('Point2_data_MB_house.csv',index=False)

#### Let's do housing price under 200,000 in SK. There are 2119 houses

In [7]:
for i in range(1,23):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Saskatchewan&PriceMax=200%2C000&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205410&viewport=-114.06650704687499%2C47.29178971567255%2C-97.38926095312499%2C55.23958167823847&zoom=6&location_changed=&ajax=1'
    
print(url)

https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Saskatchewan&PriceMax=200%2C000&PropertyType=House&search_mode=location&page=22&SelectedView=map_view&LocationGeoId=205410&viewport=-114.06650704687499%2C47.29178971567255%2C-97.38926095312499%2C55.23958167823847&zoom=6&location_changed=&ajax=1

In [9]:
data = {}
soups = {}
tables_SK = []
# Create a df to store info
Point2_data = pd.DataFrame(columns=['Beds','Bath','Sqft','Lot_Size','Type','Price','Address'])
for i in range(1,23):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Saskatchewan&PriceMax=200%2C000&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205410&viewport=-114.06650704687499%2C47.29178971567255%2C-97.38926095312499%2C55.23958167823847&zoom=6&location_changed=&ajax=1'
    data = requests.get(url).text
    soup = BeautifulSoup(data, 'html.parser')
    tables_SK.append(soup.find_all("div", class_="item-details"))
    
    # extract information from each table
    for table in (tables_SK[(i-1)]):
        if (len(str(table.find_all("li", class_='ic-beds')).split())<3):
            Nbed = float("NaN")
        else:
            Nbed = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-beds')))))
        
        if (len(str(table.find_all("li", class_='ic-baths')).split())<3):
            NBath = float("NaN")
        else:
            NBath = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-baths')))))
        
        if (len(str(table.find_all("li", class_='ic-sqft')).split())<3):
            NSqft = float("NaN")
        else:
            NSqft = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-sqft')))))
    
        if (len(str(table.find_all("li", class_='ic-lotsize')).split())<4):
            NLot_Size = float("NaN")
        else:
            NLot_Size = str(table.find_all("li", class_='ic-lotsize')).split()[4][-4:]
        
        if (len(str(table.find_all("li", class_='ic-proptype')).split())<3):
            NType = float("NaN")
        else:
            NType = str(table.find_all("li", class_='ic-proptype')).split()[3]


        NPrice = str(table.find("div", class_='price')['data-price'].replace('$','').replace(',',''))
        NAddress = table.find("div", class_='item-address')['data-address']
    # append data into the table 
        Point2_data = Point2_data.append({'Beds':Nbed,'Bath':NBath,'Sqft':NSqft,'Lot_Size':NLot_Size,'Type':NType,'Price':NPrice,'Address':NAddress},ignore_index=True)

In [11]:
Point2_data.tail()

     Beds Bath  Sqft Lot_Size         Type       Price               Address
2114    4    2   864     .146  Residential  199900 CAD   1094 12th STREET W
2115    3    1  1224     .138  Residential   79000 CAD     508 1st AVENUE E
2116    3    2  1016     .379  Residential  129900 CAD     130 1st AVENUE N
2117    2    1   934     0.09  Residential   99000 CAD    457 12th STREET E
2118    3    1  1046     0.45  Residential  199000 CAD  603 Balmoral AVENUE

In [12]:
for column in Point2_data:
    print(str(column) + ' column has '+ str(Point2_data[column].isnull().sum()) + ' NaNs')

Beds column has 26 NaNs
Bath column has 36 NaNs
Sqft column has 3 NaNs
Lot_Size column has 433 NaNs
Type column has 0 NaNs
Price column has 0 NaNs
Address column has 0 NaNs

In [13]:
Point2_data.to_csv('Point2_data_SK_house_under200K.csv',index=False)

#### Let's do housing price from 200,000 to 400,000 in SK. There are 2190 houses

In [8]:
for i in range(1,23):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Saskatchewan&PriceMin=200%2C000&PriceMax=400%2C000&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205410&viewport=-114.111597546875%2C47.29178971567255%2C-97.434351453125%2C55.23958167823847&zoom=6&location_changed=&ajax=1'
    
print(url)

https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Saskatchewan&PriceMin=200%2C000&PriceMax=400%2C000&PropertyType=House&search_mode=location&page=22&SelectedView=map_view&LocationGeoId=205410&viewport=-114.111597546875%2C47.29178971567255%2C-97.434351453125%2C55.23958167823847&zoom=6&location_changed=&ajax=1

In [19]:
data = {}
soups = {}
tables_SK = []
# Create a df to store info
Point2_data = pd.DataFrame(columns=['Beds','Bath','Sqft','Lot_Size','Type','Price','Address'])
for i in range(1,23):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Saskatchewan&PriceMin=200%2C000&PriceMax=400%2C000&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205410&viewport=-114.111597546875%2C47.29178971567255%2C-97.434351453125%2C55.23958167823847&zoom=6&location_changed=&ajax=1'
    data = requests.get(url).text
    soup = BeautifulSoup(data, 'html.parser')
    tables_SK.append(soup.find_all("div", class_="item-details"))
    
    # extract information from each table
    for table in (tables_SK[(i-1)]):
        if (len(str(table.find_all("li", class_='ic-beds')).split())<3):
            Nbed = float("NaN")
        else:
            Nbed = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-beds')))))
        
        if (len(str(table.find_all("li", class_='ic-baths')).split())<3):
            NBath = float("NaN")
        else:
            NBath = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-baths')))))
        
        if (len(str(table.find_all("li", class_='ic-sqft')).split())<3):
            NSqft = float("NaN")
        else:
            NSqft = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-sqft')))))
    
        if (len(str(table.find_all("li", class_='ic-lotsize')).split())<4):
            NLot_Size = float("NaN")
        else:
            NLot_Size = str(table.find_all("li", class_='ic-lotsize')).split()[4][-4:]
        
        if (len(str(table.find_all("li", class_='ic-proptype')).split())<3):
            NType = float("NaN")
        else:
            NType = str(table.find_all("li", class_='ic-proptype')).split()[3]


        NPrice = str(table.find("div", class_='price')['data-price'].replace('$','').replace(',',''))
        NAddress = table.find("div", class_='item-address')['data-address']
    # append data into the table 
        Point2_data = Point2_data.append({'Beds':Nbed,'Bath':NBath,'Sqft':NSqft,'Lot_Size':NLot_Size,'Type':NType,'Price':NPrice,'Address':NAddress},ignore_index=True)

In [20]:
Point2_data.tail()

     Beds Bath  Sqft Lot_Size         Type       Price               Address
2185    4    2  1172     .158  Residential  209900 CAD    216 Dominion ROAD
2186    4    3   968      NaN  Residential  337000 CAD    863 Glenview COVE
2187    4    2  1023      NaN  Residential  379900 CAD        2582 Eastview
2188    3    1  1313     0.26  Residential  229900 CAD  218 Alfred CRESCENT
2189    5    3  1429     .203       Single  339800 CAD       4 Hill  Avenue

In [21]:
for column in Point2_data:
    print(str(column) + ' column has '+ str(Point2_data[column].isnull().sum()) + ' NaNs')

Beds column has 8 NaNs
Bath column has 8 NaNs
Sqft column has 2 NaNs
Lot_Size column has 503 NaNs
Type column has 0 NaNs
Price column has 0 NaNs
Address column has 0 NaNs

In [22]:
Point2_data.to_csv('Point2_data_SK_house_200K_400K.csv',index=False)

#### Let's do housing price 400,000 Up in SK. There are 1307 houses

In [9]:
for i in range(1,15):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Saskatchewan&PriceMin=400%2C000&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205410&viewport=-114.127961046875%2C47.44133005146618%2C-97.450714953125%2C55.36526358876778&zoom=6&location_changed=&ajax=1'
    
print(url)

https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Saskatchewan&PriceMin=400%2C000&PropertyType=House&search_mode=location&page=14&SelectedView=map_view&LocationGeoId=205410&viewport=-114.127961046875%2C47.44133005146618%2C-97.450714953125%2C55.36526358876778&zoom=6&location_changed=&ajax=1

In [26]:
data = {}
soups = {}
tables_SK = []
# Create a df to store info
Point2_data = pd.DataFrame(columns=['Beds','Bath','Sqft','Lot_Size','Type','Price','Address'])
for i in range(1,15):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Saskatchewan&PriceMin=400%2C000&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205410&viewport=-114.127961046875%2C47.44133005146618%2C-97.450714953125%2C55.36526358876778&zoom=6&location_changed=&ajax=1'
    data = requests.get(url).text
    soup = BeautifulSoup(data, 'html.parser')
    tables_SK.append(soup.find_all("div", class_="item-details"))
    
    # extract information from each table
    for table in (tables_SK[(i-1)]):
        if (len(str(table.find_all("li", class_='ic-beds')).split())<3):
            Nbed = float("NaN")
        else:
            Nbed = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-beds')))))
        
        if (len(str(table.find_all("li", class_='ic-baths')).split())<3):
            NBath = float("NaN")
        else:
            NBath = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-baths')))))
        
        if (len(str(table.find_all("li", class_='ic-sqft')).split())<3):
            NSqft = float("NaN")
        else:
            NSqft = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-sqft')))))
    
        if (len(str(table.find_all("li", class_='ic-lotsize')).split())<4):
            NLot_Size = float("NaN")
        else:
            NLot_Size = str(table.find_all("li", class_='ic-lotsize')).split()[4][-4:]
        
        if (len(str(table.find_all("li", class_='ic-proptype')).split())<3):
            NType = float("NaN")
        else:
            NType = str(table.find_all("li", class_='ic-proptype')).split()[3]


        NPrice = str(table.find("div", class_='price')['data-price'].replace('$','').replace(',',''))
        NAddress = table.find("div", class_='item-address')['data-address']
    # append data into the table 
        Point2_data = Point2_data.append({'Beds':Nbed,'Bath':NBath,'Sqft':NSqft,'Lot_Size':NLot_Size,'Type':NType,'Price':NPrice,'Address':NAddress},ignore_index=True)

In [27]:
Point2_data.tail()

,Beds,Bath,Sqft,Lot_Size,Type,Price,Address
1302,4,3,2128,7.84,Residential,529000 CAD,Rural Address 8th STREET W
1303,3,2,1293,.095,Residential,489800 CAD,143 Fast CRESCENT
1304,3,3,2450,0.08,Residential,549000 CAD,Grandora Acreage - 40 acres
1305,4,3,1330,7.37,Residential,699800 CAD,"4100 11th Street West, Acreage Inside Saskatoo..."
1306,3,2,1600,4.61,Farm,2675000 CAD,City of Saskatoon 11th Street West - 54.61 Acres

In [28]:
for column in Point2_data:
    print(str(column) + ' column has '+ str(Point2_data[column].isnull().sum()) + ' NaNs')

Beds column has 6 NaNs
Bath column has 3 NaNs
Sqft column has 2 NaNs
Lot_Size column has 269 NaNs
Type column has 0 NaNs
Price column has 0 NaNs
Address column has 0 NaNs

In [29]:
Point2_data.to_csv('Point2_data_SK_house_400Kup.csv',index=False)

#### Let's do housing price under 200,000 in AB. There are 1522 houses

In [38]:
for i in range(1,17):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Alberta&PriceMax=200%2C000&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205401&viewport=-122.774401046875%2C48.92320712941521%2C-106.097154953125%2C56.60847836877127&zoom=6&location_changed=&ajax=1'
print(url)

https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Alberta&PriceMax=200%2C000&PropertyType=House&search_mode=location&page=16&SelectedView=map_view&LocationGeoId=205401&viewport=-122.774401046875%2C48.92320712941521%2C-106.097154953125%2C56.60847836877127&zoom=6&location_changed=&ajax=1

In [4]:
data = {}
soups = {}
tables_AB = []
# Create a df to store info
Point2_data = pd.DataFrame(columns=['Beds','Bath','Sqft','Lot_Size','Type','Price','Address'])
for i in range(1,17):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Alberta&PriceMax=200%2C000&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205401&viewport=-122.774401046875%2C48.92320712941521%2C-106.097154953125%2C56.60847836877127&zoom=6&location_changed=&ajax=1'
    data = requests.get(url).text
    soup = BeautifulSoup(data, 'html.parser')
    tables_AB.append(soup.find_all("div", class_="item-details"))
    
    # extract information from each table
    for table in (tables_AB[(i-1)]):
        if (len(str(table.find_all("li", class_='ic-beds')).split())<3):
            Nbed = float("NaN")
        else:
            Nbed = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-beds')))))
        
        if (len(str(table.find_all("li", class_='ic-baths')).split())<3):
            NBath = float("NaN")
        else:
            NBath = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-baths')))))
        
        if (len(str(table.find_all("li", class_='ic-sqft')).split())<3):
            NSqft = float("NaN")
        else:
            NSqft = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-sqft')))))
    
        if (len(str(table.find_all("li", class_='ic-lotsize')).split())<4):
            NLot_Size = float("NaN")
        else:
            NLot_Size = str(table.find_all("li", class_='ic-lotsize')).split()[4][-4:]
        
        if (len(str(table.find_all("li", class_='ic-proptype')).split())<3):
            NType = float("NaN")
        else:
            NType = str(table.find_all("li", class_='ic-proptype')).split()[3]


        NPrice = str(table.find("div", class_='price')['data-price'].replace('$','').replace(',',''))
        NAddress = table.find("div", class_='item-address')['data-address']
    # append data into the table 
        Point2_data = Point2_data.append({'Beds':Nbed,'Bath':NBath,'Sqft':NSqft,'Lot_Size':NLot_Size,'Type':NType,'Price':NPrice,'Address':NAddress},ignore_index=True)

In [5]:
Point2_data.tail()

     Beds Bath     Sqft Lot_Size         Type       Price             Address
1516    2    1   782005      NaN       Single   94000 CAD          50 ST 5106
1517    5    2     1330      NaN       Single   83000 CAD          504 8 AVE
1518    3    2     1144      NaN  Residential  199000 CAD     4902 45 Street
1519    2    1     1338     0.13  Residential   85000 CAD  5113 Royal Avenue
1520    3    2  1508036      NaN       Single  189000 CAD    4420 Caribou CR

Only colect 1521 housing information

In [6]:
for column in Point2_data:
    print(str(column) + ' column has '+ str(Point2_data[column].isnull().sum()) + ' NaNs')

Beds column has 21 NaNs
Bath column has 27 NaNs
Sqft column has 20 NaNs
Lot_Size column has 572 NaNs
Type column has 0 NaNs
Price column has 0 NaNs
Address column has 0 NaNs

In [7]:
Point2_data.to_csv('Point2_data_AB_house_Under200K.csv',index=False)

#### Let's do housing price from 200,000 to 300,000 in AB. There are 1863 houses

In [39]:
for i in range(1,20):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Alberta&PriceMin=200%2C000&PriceMax=300%2C000&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205401&viewport=-131.67732385475%2C46.41287001707277%2C-98.32283166725%2C61.25280348111731&zoom=5&location_changed=&ajax=1'

print(url)

https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Alberta&PriceMin=200%2C000&PriceMax=300%2C000&PropertyType=House&search_mode=location&page=19&SelectedView=map_view&LocationGeoId=205401&viewport=-131.67732385475%2C46.41287001707277%2C-98.32283166725%2C61.25280348111731&zoom=5&location_changed=&ajax=1

In [11]:
data = {}
soups = {}
tables_AB = []
# Create a df to store info
Point2_data = pd.DataFrame(columns=['Beds','Bath','Sqft','Lot_Size','Type','Price','Address'])
for i in range(1,20):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Alberta&PriceMin=200%2C000&PriceMax=300%2C000&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205401&viewport=-131.67732385475%2C46.41287001707277%2C-98.32283166725%2C61.25280348111731&zoom=5&location_changed=&ajax=1'
    data = requests.get(url).text
    soup = BeautifulSoup(data, 'html.parser')
    tables_AB.append(soup.find_all("div", class_="item-details"))
    
    # extract information from each table
    for table in (tables_AB[(i-1)]):
        if (len(str(table.find_all("li", class_='ic-beds')).split())<3):
            Nbed = float("NaN")
        else:
            Nbed = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-beds')))))
        
        if (len(str(table.find_all("li", class_='ic-baths')).split())<3):
            NBath = float("NaN")
        else:
            NBath = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-baths')))))
        
        if (len(str(table.find_all("li", class_='ic-sqft')).split())<3):
            NSqft = float("NaN")
        else:
            NSqft = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-sqft')))))
    
        if (len(str(table.find_all("li", class_='ic-lotsize')).split())<4):
            NLot_Size = float("NaN")
        else:
            NLot_Size = str(table.find_all("li", class_='ic-lotsize')).split()[4][-4:]
        
        if (len(str(table.find_all("li", class_='ic-proptype')).split())<3):
            NType = float("NaN")
        else:
            NType = str(table.find_all("li", class_='ic-proptype')).split()[3]


        NPrice = str(table.find("div", class_='price')['data-price'].replace('$','').replace(',',''))
        NAddress = table.find("div", class_='item-address')['data-address']
    # append data into the table 
        Point2_data = Point2_data.append({'Beds':Nbed,'Bath':NBath,'Sqft':NSqft,'Lot_Size':NLot_Size,'Type':NType,'Price':NPrice,'Address':NAddress},ignore_index=True)

In [12]:
Point2_data.tail()

,Beds,Bath,Sqft,Lot_Size,Type,Price,Address
1857,4,4,1424,NaN,Residential,275000 CAD,4820 47 Street
1858,3,3,1725,NaN,Single,219900 CAD,"1, 4911 55 Avenue 1"
1859,3,2,1194804,.135,Single,219500 CAD,49 AV 5313
1860,4,2,920,>0.1,Residential,229000 CAD,281 4 Street W
1861,3,2,1456,4.44,Single,299999 CAD,44050 OLD SMITH HWY

Only colect 1862 housing information, counting issue.

In [13]:
for column in Point2_data:
    print(str(column) + ' column has '+ str(Point2_data[column].isnull().sum()) + ' NaNs')

Beds column has 8 NaNs
Bath column has 9 NaNs
Sqft column has 14 NaNs
Lot_Size column has 337 NaNs
Type column has 0 NaNs
Price column has 0 NaNs
Address column has 0 NaNs

In [14]:
Point2_data.to_csv('Point2_data_AB_house_200K_300K.csv',index=False)

#### Let's do housing price from 300,000 to 400,000 in AB. There are 2692 houses

In [10]:
for i in range(1,28):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Alberta&PriceMin=300%2C000&PriceMax=400%2C000&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205401&viewport=-131.20417749375%2C45.726072528239264%2C-97.84968530625001%2C60.77307411977707&zoom=5&location_changed=&ajax=1'

print(url)

https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Alberta&PriceMin=300%2C000&PriceMax=400%2C000&PropertyType=House&search_mode=location&page=27&SelectedView=map_view&LocationGeoId=205401&viewport=-131.20417749375%2C45.726072528239264%2C-97.84968530625001%2C60.77307411977707&zoom=5&location_changed=&ajax=1

In [18]:
data = {}
soups = {}
tables_AB = []
# Create a df to store info
Point2_data = pd.DataFrame(columns=['Beds','Bath','Sqft','Lot_Size','Type','Price','Address'])
for i in range(1,28):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Alberta&PriceMin=300%2C000&PriceMax=400%2C000&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205401&viewport=-131.20417749375%2C45.726072528239264%2C-97.84968530625001%2C60.77307411977707&zoom=5&location_changed=&ajax=1'
    data = requests.get(url).text
    soup = BeautifulSoup(data, 'html.parser')
    tables_AB.append(soup.find_all("div", class_="item-details"))
    
    # extract information from each table
    for table in (tables_AB[(i-1)]):
        if (len(str(table.find_all("li", class_='ic-beds')).split())<3):
            Nbed = float("NaN")
        else:
            Nbed = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-beds')))))
        
        if (len(str(table.find_all("li", class_='ic-baths')).split())<3):
            NBath = float("NaN")
        else:
            NBath = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-baths')))))
        
        if (len(str(table.find_all("li", class_='ic-sqft')).split())<3):
            NSqft = float("NaN")
        else:
            NSqft = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-sqft')))))
    
        if (len(str(table.find_all("li", class_='ic-lotsize')).split())<4):
            NLot_Size = float("NaN")
        else:
            NLot_Size = str(table.find_all("li", class_='ic-lotsize')).split()[4][-4:]
        
        if (len(str(table.find_all("li", class_='ic-proptype')).split())<3):
            NType = float("NaN")
        else:
            NType = str(table.find_all("li", class_='ic-proptype')).split()[3]


        NPrice = str(table.find("div", class_='price')['data-price'].replace('$','').replace(',',''))
        NAddress = table.find("div", class_='item-address')['data-address']
    # append data into the table 
        Point2_data = Point2_data.append({'Beds':Nbed,'Bath':NBath,'Sqft':NSqft,'Lot_Size':NLot_Size,'Type':NType,'Price':NPrice,'Address':NAddress},ignore_index=True)

In [19]:
Point2_data.tail()

     Beds Bath     Sqft Lot_Size         Type       Price            Address
2686    4    2  1663038     4.01       Single  345000 CAD  5230 Township 564
2687    4    2   836578     .097       Single  399995 CAD    10457 77 AV NW
2688    3    2     1160     0.23  Residential  307500 CAD    415 1 Avenue E
2689    3    2     1294      NaN       Single  348500 CAD  10816 STERN CRES
2690    2    2     1182     0.18  Residential  359900 CAD  656 Hunter Drive

Only colect 2691 housing information, Counting issues

In [20]:
for column in Point2_data:
    print(str(column) + ' column has '+ str(Point2_data[column].isnull().sum()) + ' NaNs')

Beds column has 4 NaNs
Bath column has 7 NaNs
Sqft column has 10 NaNs
Lot_Size column has 362 NaNs
Type column has 0 NaNs
Price column has 0 NaNs
Address column has 0 NaNs

In [21]:
Point2_data.to_csv('Point2_data_AB_house_300K_400K.csv',index=False)

#### Let's do housing price from 400,000 to 500,000 in AB. There are 2071 houses

In [11]:
for i in range(1,22):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Alberta&PriceMin=400%2C000&PriceMax=500%2C000&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205401&viewport=-122.831302046875%2C49.015079756925694%2C-106.154055953125%2C56.6854226281053&zoom=6&location_changed=&ajax=1'

print(url)

https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Alberta&PriceMin=400%2C000&PriceMax=500%2C000&PropertyType=House&search_mode=location&page=21&SelectedView=map_view&LocationGeoId=205401&viewport=-122.831302046875%2C49.015079756925694%2C-106.154055953125%2C56.6854226281053&zoom=6&location_changed=&ajax=1

In [24]:
data = {}
soups = {}
tables_AB = []
# Create a df to store info
Point2_data = pd.DataFrame(columns=['Beds','Bath','Sqft','Lot_Size','Type','Price','Address'])
for i in range(1,22):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Alberta&PriceMin=400%2C000&PriceMax=500%2C000&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205401&viewport=-122.831302046875%2C49.015079756925694%2C-106.154055953125%2C56.6854226281053&zoom=6&location_changed=&ajax=1'
    data = requests.get(url).text
    soup = BeautifulSoup(data, 'html.parser')
    tables_AB.append(soup.find_all("div", class_="item-details"))
    
    # extract information from each table
    for table in (tables_AB[(i-1)]):
        if (len(str(table.find_all("li", class_='ic-beds')).split())<3):
            Nbed = float("NaN")
        else:
            Nbed = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-beds')))))
        
        if (len(str(table.find_all("li", class_='ic-baths')).split())<3):
            NBath = float("NaN")
        else:
            NBath = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-baths')))))
        
        if (len(str(table.find_all("li", class_='ic-sqft')).split())<3):
            NSqft = float("NaN")
        else:
            NSqft = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-sqft')))))
    
        if (len(str(table.find_all("li", class_='ic-lotsize')).split())<4):
            NLot_Size = float("NaN")
        else:
            NLot_Size = str(table.find_all("li", class_='ic-lotsize')).split()[4][-4:]
        
        if (len(str(table.find_all("li", class_='ic-proptype')).split())<3):
            NType = float("NaN")
        else:
            NType = str(table.find_all("li", class_='ic-proptype')).split()[3]


        NPrice = str(table.find("div", class_='price')['data-price'].replace('$','').replace(',',''))
        NAddress = table.find("div", class_='item-address')['data-address']
    # append data into the table 
        Point2_data = Point2_data.append({'Beds':Nbed,'Bath':NBath,'Sqft':NSqft,'Lot_Size':NLot_Size,'Type':NType,'Price':NPrice,'Address':NAddress},ignore_index=True)

In [25]:
Point2_data.tail()

,Beds,Bath,Sqft,Lot_Size,Type,Price,Address
2066,1,1,480,.105,Single,429900 CAD,59 Peace River Avenue
2067,3,3,1637,4.87,Residential,499000 CAD,404007 Range Road 6-3
2068,6,3,1454,6.33,Single,435000 CAD,11421 120 Ave Close
2069,6,3,2642,0.18,Residential,495000 CAD,3723 50 Avenue
2070,3,3,1207,9.76,Single,485000 CAD,54215 HIGHWAY 748 E

In [26]:
for column in Point2_data:
    print(str(column) + ' column has '+ str(Point2_data[column].isnull().sum()) + ' NaNs')

Beds column has 2 NaNs
Bath column has 2 NaNs
Sqft column has 4 NaNs
Lot_Size column has 221 NaNs
Type column has 0 NaNs
Price column has 0 NaNs
Address column has 0 NaNs

In [27]:
Point2_data.to_csv('Point2_data_AB_house_400K_500K.csv',index=False)

#### Let's do housing price from 500,000 to 700,000 in AB. There are 2350 houses

In [42]:
for i in range(1,25):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Alberta&PriceMin=500%2C000&PriceMax=700%2C000&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205401&viewport=-123.21712804687499%2C49.209208934029334%2C-106.53988195312499%2C56.847957850965436&zoom=6&location_changed=&ajax=1'

print(url)

https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Alberta&PriceMin=500%2C000&PriceMax=700%2C000&PropertyType=House&search_mode=location&page=24&SelectedView=map_view&LocationGeoId=205401&viewport=-123.21712804687499%2C49.209208934029334%2C-106.53988195312499%2C56.847957850965436&zoom=6&location_changed=&ajax=1

In [29]:
data = {}
soups = {}
tables_AB = []
# Create a df to store info
Point2_data = pd.DataFrame(columns=['Beds','Bath','Sqft','Lot_Size','Type','Price','Address'])
for i in range(1,25):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Alberta&PriceMin=500%2C000&PriceMax=700%2C000&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205401&viewport=-123.21712804687499%2C49.209208934029334%2C-106.53988195312499%2C56.847957850965436&zoom=6&location_changed=&ajax=1'
    data = requests.get(url).text
    soup = BeautifulSoup(data, 'html.parser')
    tables_AB.append(soup.find_all("div", class_="item-details"))
    
    # extract information from each table
    for table in (tables_AB[(i-1)]):
        if (len(str(table.find_all("li", class_='ic-beds')).split())<3):
            Nbed = float("NaN")
        else:
            Nbed = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-beds')))))
        
        if (len(str(table.find_all("li", class_='ic-baths')).split())<3):
            NBath = float("NaN")
        else:
            NBath = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-baths')))))
        
        if (len(str(table.find_all("li", class_='ic-sqft')).split())<3):
            NSqft = float("NaN")
        else:
            NSqft = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-sqft')))))
    
        if (len(str(table.find_all("li", class_='ic-lotsize')).split())<4):
            NLot_Size = float("NaN")
        else:
            NLot_Size = str(table.find_all("li", class_='ic-lotsize')).split()[4][-4:]
        
        if (len(str(table.find_all("li", class_='ic-proptype')).split())<3):
            NType = float("NaN")
        else:
            NType = str(table.find_all("li", class_='ic-proptype')).split()[3]


        NPrice = str(table.find("div", class_='price')['data-price'].replace('$','').replace(',',''))
        NAddress = table.find("div", class_='item-address')['data-address']
    # append data into the table 
        Point2_data = Point2_data.append({'Beds':Nbed,'Bath':NBath,'Sqft':NSqft,'Lot_Size':NLot_Size,'Type':NType,'Price':NPrice,'Address':NAddress},ignore_index=True)

In [30]:
Point2_data.tail()

,Beds,Bath,Sqft,Lot_Size,Type,Price,Address
2345,4,1,1090,3.76,Single,570000 CAD,67061 MISSION ROAD Road 601
2346,2,1,867,5.19,Farm,549000 CAD,6413 Highway 633
2347,4,2,1785,NaN,Residential,589900 CAD,216 Silver Springs Green NW
2348,5,3,1369,.132,Single,599900 CAD,345 Lindstrom Crescent
2349,3,2,1219884,7.46,Single,699000 CAD,49068 Highway 21

In [31]:
for column in Point2_data:
    print(str(column) + ' column has '+ str(Point2_data[column].isnull().sum()) + ' NaNs')

Beds column has 1 NaNs
Bath column has 2 NaNs
Sqft column has 6 NaNs
Lot_Size column has 262 NaNs
Type column has 0 NaNs
Price column has 0 NaNs
Address column has 0 NaNs

In [32]:
Point2_data.to_csv('Point2_data_AB_house_500K_700K.csv',index=False)

#### Let's do housing price 700,000 Up in AB. There are 2445 houses

In [12]:
for i in range(1,26):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Alberta&PriceMin=700%2C000&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205401&viewport=-122.77317994687499%2C49.009053946355294%2C-106.09593385312499%2C56.68037641652274&zoom=6&location_changed=&ajax=1'

print(url)

https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Alberta&PriceMin=700%2C000&PropertyType=House&search_mode=location&page=25&SelectedView=map_view&LocationGeoId=205401&viewport=-122.77317994687499%2C49.009053946355294%2C-106.09593385312499%2C56.68037641652274&zoom=6&location_changed=&ajax=1

In [34]:
data = {}
soups = {}
tables_AB = []
# Create a df to store info
Point2_data = pd.DataFrame(columns=['Beds','Bath','Sqft','Lot_Size','Type','Price','Address'])
for i in range(1,26):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps.html?location=Alberta&PriceMin=700%2C000&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205401&viewport=-122.77317994687499%2C49.009053946355294%2C-106.09593385312499%2C56.68037641652274&zoom=6&location_changed=&ajax=1'
    data = requests.get(url).text
    soup = BeautifulSoup(data, 'html.parser')
    tables_AB.append(soup.find_all("div", class_="item-details"))
    
    # extract information from each table
    for table in (tables_AB[(i-1)]):
        if (len(str(table.find_all("li", class_='ic-beds')).split())<3):
            Nbed = float("NaN")
        else:
            Nbed = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-beds')))))
        
        if (len(str(table.find_all("li", class_='ic-baths')).split())<3):
            NBath = float("NaN")
        else:
            NBath = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-baths')))))
        
        if (len(str(table.find_all("li", class_='ic-sqft')).split())<3):
            NSqft = float("NaN")
        else:
            NSqft = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-sqft')))))
    
        if (len(str(table.find_all("li", class_='ic-lotsize')).split())<4):
            NLot_Size = float("NaN")
        else:
            NLot_Size = str(table.find_all("li", class_='ic-lotsize')).split()[4][-4:]
        
        if (len(str(table.find_all("li", class_='ic-proptype')).split())<3):
            NType = float("NaN")
        else:
            NType = str(table.find_all("li", class_='ic-proptype')).split()[3]


        NPrice = str(table.find("div", class_='price')['data-price'].replace('$','').replace(',',''))
        NAddress = table.find("div", class_='item-address')['data-address']
    # append data into the table 
        Point2_data = Point2_data.append({'Beds':Nbed,'Bath':NBath,'Sqft':NSqft,'Lot_Size':NLot_Size,'Type':NType,'Price':NPrice,'Address':NAddress},ignore_index=True)

In [35]:
Point2_data.tail()

,Beds,Bath,Sqft,Lot_Size,Type,Price,Address
2440,3,3,2488,01.1,Residential,1499900 CAD,28444 Highway 592
2441,3,2,2952,1.61,Residential,929000 CAD,8 Grasslands Road
2442,6,4,4337,5.06,Single,1500000 CAD,1200 Range Road 254 Road
2443,5,5,2407,NaN,Residential,759900 CAD,5205 59 Street Close
2444,3,4,1645,1.73,Residential,999000 CAD,353022 Range Road 43

In [36]:
for column in Point2_data:
    print(str(column) + ' column has '+ str(Point2_data[column].isnull().sum()) + ' NaNs')

Beds column has 19 NaNs
Bath column has 20 NaNs
Sqft column has 30 NaNs
Lot_Size column has 161 NaNs
Type column has 0 NaNs
Price column has 0 NaNs
Address column has 0 NaNs

In [37]:
Point2_data.to_csv('Point2_data_AB_house_700Kup.csv',index=False)