In [1]:
# Import requests
import requests
from bs4 import BeautifulSoup
import pandas as pd

#### Let's do housing price under 700,000 in BC. There are 2578 houses

In [2]:
for i in range(1,27):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps.html?location=British+Columbia&PriceMax=700%2C000&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205407&viewport=-131.38074494687498%2C47.32892609878674%2C-114.70349885312498%2C55.27079704363388&zoom=6&location_changed=&ajax=1'
print(url)

https://www.point2homes.com/CA/Real-Estate-Maps.html?location=British+Columbia&PriceMax=700%2C000&PropertyType=House&search_mode=location&page=26&SelectedView=map_view&LocationGeoId=205407&viewport=-131.38074494687498%2C47.32892609878674%2C-114.70349885312498%2C55.27079704363388&zoom=6&location_changed=&ajax=1

In [3]:
data = {}
soups = {}
tables_BC = []
# Create a df to store info
Point2_data = pd.DataFrame(columns=['Beds','Bath','Sqft','Lot_Size','Type','Price','Address'])
for i in range(1,27):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps.html?location=British+Columbia&PriceMax=700%2C000&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205407&viewport=-131.38074494687498%2C47.32892609878674%2C-114.70349885312498%2C55.27079704363388&zoom=6&location_changed=&ajax=1'
    data = requests.get(url).text
    soup = BeautifulSoup(data, 'html.parser')
    tables_BC.append(soup.find_all("div", class_="item-details"))
    
    # extract information from each table
    for table in (tables_BC[(i-1)]):
        if (len(str(table.find_all("li", class_='ic-beds')).split())<3):
            Nbed = float("NaN")
        else:
            Nbed = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-beds')))))
        
        if (len(str(table.find_all("li", class_='ic-baths')).split())<3):
            NBath = float("NaN")
        else:
            NBath = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-baths')))))
        
        if (len(str(table.find_all("li", class_='ic-sqft')).split())<3):
            NSqft = float("NaN")
        else:
            NSqft = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-sqft')))))
    
        if (len(str(table.find_all("li", class_='ic-lotsize')).split())<4):
            NLot_Size = float("NaN")
        else:
            NLot_Size = str(table.find_all("li", class_='ic-lotsize')).split()[4][-4:]
        
        if (len(str(table.find_all("li", class_='ic-proptype')).split())<3):
            NType = float("NaN")
        else:
            NType = str(table.find_all("li", class_='ic-proptype')).split()[3]


        NPrice = str(table.find("div", class_='price')['data-price'].replace('$','').replace(',',''))
        NAddress = table.find("div", class_='item-address')['data-address']
    # append data into the table 
        Point2_data = Point2_data.append({'Beds':Nbed,'Bath':NBath,'Sqft':NSqft,'Lot_Size':NLot_Size,'Type':NType,'Price':NPrice,'Address':NAddress},ignore_index=True)

In [4]:
Point2_data.tail()

     Beds Bath  Sqft Lot_Size         Type       Price               Address
2572    1    1  1167     >2.8       Single  250000 CAD        REED ROAD 2751
2573    2    1   NaN      NaN       Single  188500 CAD        8670 156 ST 37
2574    3    2  2197     .198       Single  189000 CAD  231 BERGERON Drive,
2575    2    1   720     0.72  Residential  126900 CAD       197 Ogden Road
2576  NaN  NaN   NaN     8.66  Residential  245000 CAD       556 Highway 24

2577 housing information are collected

In [5]:
for column in Point2_data:
    print(str(column) + ' column has '+ str(Point2_data[column].isnull().sum()) + ' NaNs')

Beds column has 94 NaNs
Bath column has 142 NaNs
Sqft column has 472 NaNs
Lot_Size column has 387 NaNs
Type column has 0 NaNs
Price column has 0 NaNs
Address column has 0 NaNs

In [6]:
Point2_data.to_csv('Point2_data_BC_house_Under700K.csv',index=False)

#### Let's do housing price from 700,000 to 1,500,000 in BC. There are 2798 houses

In [8]:
for i in range(1,29):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps.html?location=British+Columbia&PriceMin=700%2C000&PriceMax=1%2C500%2C000&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205407&viewport=-128.497837601875%2C46.427046353813815%2C-111.82059150812499%2C54.51197660632517&zoom=6&location_changed=&ajax=1'
    
print(url)

https://www.point2homes.com/CA/Real-Estate-Maps.html?location=British+Columbia&PriceMin=700%2C000&PriceMax=1%2C500%2C000&PropertyType=House&search_mode=location&page=28&SelectedView=map_view&LocationGeoId=205407&viewport=-128.497837601875%2C46.427046353813815%2C-111.82059150812499%2C54.51197660632517&zoom=6&location_changed=&ajax=1

In [9]:
data = {}
soups = {}
tables_BC = []
# Create a df to store info
Point2_data = pd.DataFrame(columns=['Beds','Bath','Sqft','Lot_Size','Type','Price','Address'])
for i in range(1,29):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps.html?location=British+Columbia&PriceMin=700%2C000&PriceMax=1%2C500%2C000&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205407&viewport=-128.497837601875%2C46.427046353813815%2C-111.82059150812499%2C54.51197660632517&zoom=6&location_changed=&ajax=1'
    data = requests.get(url).text
    soup = BeautifulSoup(data, 'html.parser')
    tables_BC.append(soup.find_all("div", class_="item-details"))
    
    # extract information from each table
    for table in (tables_BC[(i-1)]):
        if (len(str(table.find_all("li", class_='ic-beds')).split())<3):
            Nbed = float("NaN")
        else:
            Nbed = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-beds')))))
        
        if (len(str(table.find_all("li", class_='ic-baths')).split())<3):
            NBath = float("NaN")
        else:
            NBath = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-baths')))))
        
        if (len(str(table.find_all("li", class_='ic-sqft')).split())<3):
            NSqft = float("NaN")
        else:
            NSqft = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-sqft')))))
    
        if (len(str(table.find_all("li", class_='ic-lotsize')).split())<4):
            NLot_Size = float("NaN")
        else:
            NLot_Size = str(table.find_all("li", class_='ic-lotsize')).split()[4][-4:]
        
        if (len(str(table.find_all("li", class_='ic-proptype')).split())<3):
            NType = float("NaN")
        else:
            NType = str(table.find_all("li", class_='ic-proptype')).split()[3]


        NPrice = str(table.find("div", class_='price')['data-price'].replace('$','').replace(',',''))
        NAddress = table.find("div", class_='item-address')['data-address']
    # append data into the table 
        Point2_data = Point2_data.append({'Beds':Nbed,'Bath':NBath,'Sqft':NSqft,'Lot_Size':NLot_Size,'Type':NType,'Price':NPrice,'Address':NAddress},ignore_index=True)

In [10]:
Point2_data.tail()

,Beds,Bath,Sqft,Lot_Size,Type,Price,Address
2793,4,3,NaN,.157,Single,1300000 CAD,805 SPROAT DRIVE
2794,3,NaN,2492,.094,Single,769000 CAD,"10605 CEDAR Avenue, 22"
2795,3,1,872,.182,Single,799999 CAD,46183 THIRD AVENUE
2796,3,1,1968,3.31,Residential,899000 CAD,6446 Rimer Road
2797,3,NaN,1732,0.04,Residential,1199000 CAD,1720 Fairfield Rd #118

In [11]:
for column in Point2_data:
    print(str(column) + ' column has '+ str(Point2_data[column].isnull().sum()) + ' NaNs')

Beds column has 39 NaNs
Bath column has 110 NaNs
Sqft column has 192 NaNs
Lot_Size column has 183 NaNs
Type column has 0 NaNs
Price column has 0 NaNs
Address column has 0 NaNs

In [12]:
Point2_data.to_csv('Point2_data_BC_house_700K_1500K.csv',index=False)

#### Let's do housing price from 1,500,000 to 2,000,000 in BC. There are 1165 houses

In [14]:
for i in range(1,13):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps.html?location=British+Columbia&PriceMin=1%2C500%2C000&PriceMax=2%2C000%2C000&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205407&viewport=-128.289832496875%2C45.230760276457104%2C-111.612586403125%2C53.50304236232754&zoom=6&location_changed=&ajax=1'
    
print(url)

https://www.point2homes.com/CA/Real-Estate-Maps.html?location=British+Columbia&PriceMin=1%2C500%2C000&PriceMax=2%2C000%2C000&PropertyType=House&search_mode=location&page=12&SelectedView=map_view&LocationGeoId=205407&viewport=-128.289832496875%2C45.230760276457104%2C-111.612586403125%2C53.50304236232754&zoom=6&location_changed=&ajax=1

In [15]:
data = {}
soups = {}
tables_BC = []
# Create a df to store info
Point2_data = pd.DataFrame(columns=['Beds','Bath','Sqft','Lot_Size','Type','Price','Address'])
for i in range(1,13):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps.html?location=British+Columbia&PriceMin=1%2C500%2C000&PriceMax=2%2C000%2C000&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205407&viewport=-128.289832496875%2C45.230760276457104%2C-111.612586403125%2C53.50304236232754&zoom=6&location_changed=&ajax=1'
    data = requests.get(url).text
    soup = BeautifulSoup(data, 'html.parser')
    tables_BC.append(soup.find_all("div", class_="item-details"))
    
    # extract information from each table
    for table in (tables_BC[(i-1)]):
        if (len(str(table.find_all("li", class_='ic-beds')).split())<3):
            Nbed = float("NaN")
        else:
            Nbed = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-beds')))))
        
        if (len(str(table.find_all("li", class_='ic-baths')).split())<3):
            NBath = float("NaN")
        else:
            NBath = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-baths')))))
        
        if (len(str(table.find_all("li", class_='ic-sqft')).split())<3):
            NSqft = float("NaN")
        else:
            NSqft = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-sqft')))))
    
        if (len(str(table.find_all("li", class_='ic-lotsize')).split())<4):
            NLot_Size = float("NaN")
        else:
            NLot_Size = str(table.find_all("li", class_='ic-lotsize')).split()[4][-4:]
        
        if (len(str(table.find_all("li", class_='ic-proptype')).split())<3):
            NType = float("NaN")
        else:
            NType = str(table.find_all("li", class_='ic-proptype')).split()[3]


        NPrice = str(table.find("div", class_='price')['data-price'].replace('$','').replace(',',''))
        NAddress = table.find("div", class_='item-address')['data-address']
    # append data into the table 
        Point2_data = Point2_data.append({'Beds':Nbed,'Bath':NBath,'Sqft':NSqft,'Lot_Size':NLot_Size,'Type':NType,'Price':NPrice,'Address':NAddress},ignore_index=True)

In [16]:
Point2_data.tail()

     Beds Bath  Sqft Lot_Size         Type        Price               Address
1158    5    3  3363     .502       Single  1786000 CAD     12605 224 STREET
1159    3    3  3894     0.38  Residential  1549000 CAD  3217 Majestic Drive
1160    6    4  4408     1.98  Residential  1900000 CAD        6722 Anzio Rd
1161    4    3  2010     .181       Single  1500000 CAD      11770 72 AVENUE
1162    3    1  1300     0.19       Single  1750000 CAD     10460 NO. 4 ROAD

In [17]:
for column in Point2_data:
    print(str(column) + ' column has '+ str(Point2_data[column].isnull().sum()) + ' NaNs')

Beds column has 11 NaNs
Bath column has 26 NaNs
Sqft column has 29 NaNs
Lot_Size column has 30 NaNs
Type column has 0 NaNs
Price column has 0 NaNs
Address column has 0 NaNs

In [18]:
Point2_data.to_csv('Point2_data_BC_house_1500K_2000K.csv',index=False)

#### Let's do housing price beyond 2,000,000 in BC. There are 2668 houses

In [19]:
for i in range(1,28):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps.html?location=British+Columbia&PriceMin=2%2C000%2C000&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205407&viewport=-125.12427211843749%2C47.439800591238416%2C-116.78564907156249%2C51.57417560375128&zoom=7&location_changed=&ajax=1'
    
print(url)

https://www.point2homes.com/CA/Real-Estate-Maps.html?location=British+Columbia&PriceMin=2%2C000%2C000&PropertyType=House&search_mode=location&page=27&SelectedView=map_view&LocationGeoId=205407&viewport=-125.12427211843749%2C47.439800591238416%2C-116.78564907156249%2C51.57417560375128&zoom=7&location_changed=&ajax=1

In [20]:
data = {}
soups = {}
tables_BC = []
# Create a df to store info
Point2_data = pd.DataFrame(columns=['Beds','Bath','Sqft','Lot_Size','Type','Price','Address'])
for i in range(1,28):
    url = 'https://www.point2homes.com/CA/Real-Estate-Maps.html?location=British+Columbia&PriceMin=2%2C000%2C000&PropertyType=House&search_mode=location&page=' + str(i) + '&SelectedView=map_view&LocationGeoId=205407&viewport=-125.12427211843749%2C47.439800591238416%2C-116.78564907156249%2C51.57417560375128&zoom=7&location_changed=&ajax=1'
    data = requests.get(url).text
    soup = BeautifulSoup(data, 'html.parser')
    tables_BC.append(soup.find_all("div", class_="item-details"))
    
    # extract information from each table
    for table in (tables_BC[(i-1)]):
        if (len(str(table.find_all("li", class_='ic-beds')).split())<3):
            Nbed = float("NaN")
        else:
            Nbed = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-beds')))))
        
        if (len(str(table.find_all("li", class_='ic-baths')).split())<3):
            NBath = float("NaN")
        else:
            NBath = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-baths')))))
        
        if (len(str(table.find_all("li", class_='ic-sqft')).split())<3):
            NSqft = float("NaN")
        else:
            NSqft = int(''.join(filter(str.isdigit, str(table.find_all("li", class_='ic-sqft')))))
    
        if (len(str(table.find_all("li", class_='ic-lotsize')).split())<4):
            NLot_Size = float("NaN")
        else:
            NLot_Size = str(table.find_all("li", class_='ic-lotsize')).split()[4][-4:]
        
        if (len(str(table.find_all("li", class_='ic-proptype')).split())<3):
            NType = float("NaN")
        else:
            NType = str(table.find_all("li", class_='ic-proptype')).split()[3]


        NPrice = str(table.find("div", class_='price')['data-price'].replace('$','').replace(',',''))
        NAddress = table.find("div", class_='item-address')['data-address']
    # append data into the table 
        Point2_data = Point2_data.append({'Beds':Nbed,'Bath':NBath,'Sqft':NSqft,'Lot_Size':NLot_Size,'Type':NType,'Price':NPrice,'Address':NAddress},ignore_index=True)

In [21]:
Point2_data.tail()

     Beds Bath  Sqft Lot_Size    Type        Price                   Address
2663    4    3  3335     .172  Single  5550000 CAD        595 W 28TH AVENUE
2664    4    3  2511     .239  Single  3024120 CAD       540 POIRIER STREET
2665    4    4  4753     >1.2  Single  5180000 CAD         20395 74B AVENUE
2666    5    8  6802     .293  Single  5999000 CAD     1507 PINECREST DRIVE
2667  NaN    4  3250     .171  Single  5000000 CAD  25 W KING EDWARD AVENUE

In [22]:
for column in Point2_data:
    print(str(column) + ' column has '+ str(Point2_data[column].isnull().sum()) + ' NaNs')

Beds column has 39 NaNs
Bath column has 61 NaNs
Sqft column has 60 NaNs
Lot_Size column has 74 NaNs
Type column has 0 NaNs
Price column has 0 NaNs
Address column has 0 NaNs

In [23]:
Point2_data.to_csv('Point2_data_BC_house_Beyond2000K.csv',index=False)