## NS

In [5]:
import pandas as pd

In [6]:
Point2_data= pd.read_csv('/users/aeternus/Desktop/Housing-market-in-Canada/Point2_data_NS_Drop_price_house.csv')
Point2_data['Province'] = 'NS' 
Point2_data['Region'] = 'Atlantic region' 
Point2_data.tail()

,Beds,Bath,Sqft,Lot_Size,Type,Price,Address,Province,Region
111,5,1,1796.0,NaN,Residential,80000,277 Highway 217,NS,Atlantic region
112,3,1,808.0,.335,Residential,249000,1833 Eastern Shore Road,NS,Atlantic region
113,3,1,2412.0,NaN,Single,349000,62 Smith Road,NS,Atlantic region
114,3,2,1908.0,2.97,Residential,149000,3501 Hwy 3,NS,Atlantic region
115,3,1,1263.0,.247,Residential,82500,139 Payzant Street,NS,Atlantic region

In [7]:
#Point2_data.to_csv('Point2_data_NS_Drop_price_house.csv',index=False)

### Prince Edward Island

In [10]:
Point2_data= pd.read_csv('/users/aeternus/Desktop/Housing-market-in-Canada/Point2_data_PE_Drop_price_house.csv')
Point2_data['Province'] = 'PE' 
Point2_data['Region'] = 'Atlantic region' 
Point2_data.tail()

,Beds,Bath,Sqft,Lot_Size,Type,Price,Address,Province,Region
16,2.0,1.0,900.0,NaN,Single,329000,55 Garwalt Lane,PE,Atlantic region
17,3.0,2.0,1786.0,NaN,Single,175000,480 Abney Road,PE,Atlantic region
18,3.0,1.0,1155.0,NaN,Single,247900,4131 RTE 17,PE,Atlantic region
19,4.0,2.0,2320.0,>0.3,Residential,399900,100 Scott Street,PE,Atlantic region
20,4.0,2.0,NaN,10.5,Residential,329000,2084 Valleyfield Rd,PE,Atlantic region

In [11]:
#Point2_data.to_csv('Point2_data_PE_Drop_price_house.csv',index=False)

### New Brunswick

In [12]:
Point2_data= pd.read_csv('/users/aeternus/Desktop/Housing-market-in-Canada/Point2_data_NB_Drop_price_house.csv')
Point2_data['Province'] = 'NB' 
Point2_data['Region'] = 'Atlantic region' 
Point2_data.tail()

,Beds,Bath,Sqft,Lot_Size,Type,Price,Address,Province,Region
117,2.0,1.0,NaN,NaN,Single,55000,19 Rioux,NB,Atlantic region
118,3.0,2.0,NaN,.201,Single,349000,210 Wright Street,NB,Atlantic region
119,1.0,NaN,NaN,1.71,Single,39900,Lot 93-2 Pokiok Settlement Road,NB,Atlantic region
120,2.0,1.0,NaN,3.22,Single,79000,848 Boul St Joseph,NB,Atlantic region
121,3.0,1.0,1125.0,NaN,Single,129900,59 Schooner Cove Road,NB,Atlantic region

In [13]:
#Point2_data.to_csv('Point2_data_NB_Drop_price_house.csv',index=False)

### Newfoundland and Labrador

In [14]:
Point2_data= pd.read_csv('/users/aeternus/Desktop/Housing-market-in-Canada/Point2_data_NL_Drop_price_house.csv')
Point2_data['Province'] = 'NL' 
Point2_data['Region'] = 'Atlantic region' 
Point2_data.tail()

,Beds,Bath,Sqft,Lot_Size,Type,Price,Address,Province,Region
100,4.0,5.0,3256.0,NaN,Single,525000,170 Water Street,NL,Atlantic region
101,3.0,2.0,2704.0,NaN,Residential,99000,21 Park Drive,NL,Atlantic region
102,3.0,1.0,798.0,NaN,Residential,99900,55 Southern Shore Highway,NL,Atlantic region
103,3.0,1.0,2200.0,NaN,Residential,74900,28 Spoon Cove Road,NL,Atlantic region
104,2.0,1.0,990.0,NaN,Residential,69900,731 Main St.,NL,Atlantic region

In [15]:
#Point2_data.to_csv('Point2_data_NL_Drop_price_house.csv',index=False)

### Quebec

In [16]:
Point2_data= pd.read_csv('/users/aeternus/Desktop/Housing-market-in-Canada/Point2_data_QC_Drop_price_house.csv')
Point2_data['Province'] = 'QC' 
Point2_data['Region'] = 'Central Canada' 
Point2_data.tail()

,Beds,Bath,Sqft,Lot_Size,Type,Price,Address,Province,Region
49,3.0,2.0,266504.0,.553,Residential,585000,1989 Ch. du Lac-Panneton,QC,Central Canada
50,NaN,1.0,NaN,.107,Residential,55000,2261 Ch. du Village,QC,Central Canada
51,5.0,2.0,NaN,.254,Residential,115000,41 Rue des Pins E.,QC,Central Canada
52,3.0,2.0,221209.0,.143,Residential,395000,4191 Av. Larivière,QC,Central Canada
53,2.0,2.0,448005.0,.289,Residential,699000,58 Ch. de la Sablière,QC,Central Canada

In [17]:
#Point2_data.to_csv('Point2_data_QC_Drop_price_house.csv',index=False)

### Ontario

In [18]:
Point2_data= pd.read_csv('/users/aeternus/Desktop/Housing-market-in-Canada/Point2_data_ON_Drop_price_house.csv')
Point2_data['Province'] = 'ON' 
Point2_data['Region'] = 'Central Canada' 
Point2_data.tail()

,Beds,Bath,Sqft,Lot_Size,Type,Price,Address,Province,Region
298,3.0,5.0,NaN,NaN,Single,2999000,39 QUARRY Road,ON,Central Canada
299,2.0,1.0,876.0,NaN,Residential,449000,45 DRUMMOND Street,ON,Central Canada
300,3.0,1.0,NaN,NaN,Single,179000,1 Syenite Street,ON,Central Canada
301,2.0,1.0,NaN,>2.8,Single,549000,1691 A BUCKSHOT LAKE Road,ON,Central Canada
302,3.0,3.0,1800.0,NaN,Residential,849900,87 Prior Lane,ON,Central Canada

In [19]:
#Point2_data.to_csv('Point2_data_ON_Drop_price_house.csv',index=False)

### Manitoba

In [20]:
Point2_data= pd.read_csv('/users/aeternus/Desktop/Housing-market-in-Canada/Point2_data_MB_Drop_price_house.csv')
Point2_data['Province'] = 'MB' 
Point2_data['Region'] = 'Prairie Provinces' 
Point2_data.tail()

,Beds,Bath,Sqft,Lot_Size,Type,Price,Address,Province,Region
27,3,2,1740.0,NaN,Single,299900,75 Hespeler Avenue,MB,Prairie Provinces
28,2,1,1057.0,NaN,Single,98000,204 MCMILLAN Street W,MB,Prairie Provinces
29,4,2,1980.0,ng>5,Single,199000,61 Kemnay Woods Lane,MB,Prairie Provinces
30,4,2,1424.0,NaN,Single,210000,581 Furby Street,MB,Prairie Provinces
31,2,1,520.0,NaN,Single,89900,131 Lisgar Avenue,MB,Prairie Provinces

In [21]:
#Point2_data.to_csv('Point2_data_MB_Drop_price_house.csv',index=False)

### Saskatchewan

In [22]:
Point2_data= pd.read_csv('/users/aeternus/Desktop/Housing-market-in-Canada/Point2_data_SK_Drop_price_house.csv')
Point2_data['Province'] = 'SK' 
Point2_data['Region'] = 'Prairie Provinces' 
Point2_data.tail()

,Beds,Bath,Sqft,Lot_Size,Type,Price,Address,Province,Region
192,4.0,2.0,936.0,.344,Residential,155000,123 4th STREET W,SK,Prairie Provinces
193,3.0,1.0,734.0,NaN,Residential,29500,306 Dunning STREET,SK,Prairie Provinces
194,3.0,3.0,1170.0,NaN,Residential,325000,13 Ling STREET,SK,Prairie Provinces
195,2.0,1.0,1044.0,.183,Single,95000,5620 49 Avenue,SK,Prairie Provinces
196,4.0,1.0,1032.0,.321,Residential,89900,509 4th AVENUE,SK,Prairie Provinces

In [23]:
#Point2_data.to_csv('Point2_data_SK_Drop_price_house.csv',index=False)

### Alberta

In [24]:
Point2_data= pd.read_csv('/users/aeternus/Desktop/Housing-market-in-Canada/Point2_data_AB_Drop_price_house.csv')
Point2_data['Province'] = 'AB' 
Point2_data['Region'] = 'Prairie Provinces' 
Point2_data.tail()

,Beds,Bath,Sqft,Lot_Size,Type,Price,Address,Province,Region
197,4.0,2.0,1468.0,9.88,Single,1224900,323023 Range Road 241,AB,Prairie Provinces
198,3.0,1.0,1072.0,NaN,Single,89900,901 4 Avenue,AB,Prairie Provinces
199,4.0,2.0,1073.0,9.41,Farm,2400000,28120 Township Road 381A,AB,Prairie Provinces
200,1.0,1.0,500526.0,NaN,Single,79900,50 ST 4908,AB,Prairie Provinces
201,4.0,5.0,4564.0,3.26,Single,2000000,7510 4 AVE,AB,Prairie Provinces

In [25]:
#Point2_data.to_csv('Point2_data_AB_Drop_price_house.csv',index=False)

### British Columbia

In [26]:
Point2_data= pd.read_csv('/users/aeternus/Desktop/Housing-market-in-Canada/Point2_data_BC_Drop_price_house.csv')
Point2_data['Province'] = 'BC' 
Point2_data['Region'] = 'West Coast' 
Point2_data.tail()

,Beds,Bath,Sqft,Lot_Size,Type,Price,Address,Province,Region
167,3.0,1.0,1420.0,>175,Single,575000,8995 LOOS ROAD,BC,West Coast
168,5.0,8.0,6802.0,.293,Single,5999000,1507 PINECREST DRIVE,BC,West Coast
169,5.0,10.0,14956.0,.016,Single,8999999,"133 Ravine Drive,",BC,West Coast
170,5.0,2.0,1994.0,.161,Single,198000,"264 MURRAY Drive,",BC,West Coast
171,3.0,1.0,1968.0,3.31,Residential,899000,6446 Rimer Road,BC,West Coast

In [27]:
#Point2_data.to_csv('Point2_data_BC_Drop_price_house.csv',index=False)

### Canada excluding North

In [28]:
Point2_data1= pd.read_csv('/users/aeternus/Desktop/Housing-market-in-Canada/Point2_data_NS_Drop_price_house.csv')
Point2_data2= pd.read_csv('/users/aeternus/Desktop/Housing-market-in-Canada/Point2_data_PE_Drop_price_house.csv')
Point2_data3= pd.read_csv('/users/aeternus/Desktop/Housing-market-in-Canada/Point2_data_NB_Drop_price_house.csv')
Point2_data4= pd.read_csv('/users/aeternus/Desktop/Housing-market-in-Canada/Point2_data_NL_Drop_price_house.csv')
Point2_data5= pd.read_csv('/users/aeternus/Desktop/Housing-market-in-Canada/Point2_data_QC_Drop_price_house.csv')
Point2_data6= pd.read_csv('/users/aeternus/Desktop/Housing-market-in-Canada/Point2_data_ON_Drop_price_house.csv')
Point2_data7= pd.read_csv('/users/aeternus/Desktop/Housing-market-in-Canada/Point2_data_MB_Drop_price_house.csv')
Point2_data8= pd.read_csv('/users/aeternus/Desktop/Housing-market-in-Canada/Point2_data_SK_Drop_price_house.csv')
Point2_data9= pd.read_csv('/users/aeternus/Desktop/Housing-market-in-Canada/Point2_data_AB_Drop_price_house.csv')
Point2_data10= pd.read_csv('/users/aeternus/Desktop/Housing-market-in-Canada/Point2_data_BC_Drop_price_house.csv')

In [29]:
frames = [Point2_data1, Point2_data2, Point2_data3, Point2_data4, Point2_data5, Point2_data6, Point2_data7, Point2_data8, Point2_data9, Point2_data10]
Point2_data = pd.concat(frames)
Point2_data = Point2_data.reset_index()
Point2_data = Point2_data.drop(['index'],axis=1)
Point2_data.tail()

,Beds,Bath,Sqft,Lot_Size,Type,Price,Address,Province,Region
1319,3.0,1.0,1420.0,>175,Single,575000,8995 LOOS ROAD,BC,West Coast
1320,5.0,8.0,6802.0,.293,Single,5999000,1507 PINECREST DRIVE,BC,West Coast
1321,5.0,10.0,14956.0,.016,Single,8999999,"133 Ravine Drive,",BC,West Coast
1322,5.0,2.0,1994.0,.161,Single,198000,"264 MURRAY Drive,",BC,West Coast
1323,3.0,1.0,1968.0,3.31,Residential,899000,6446 Rimer Road,BC,West Coast

In [30]:
Point2_data.to_csv('Point2_data_Canada_house_DropPrice.csv',index=False)

In [31]:
Point2_data = Point2_data.drop(['Lot_Size','Type'],axis=1)

In [32]:
Point2_data.isnull().sum()

Beds         44
Bath         47
Sqft        396
Price         0
Address       0
Province      0
Region        0
dtype: int64

In [33]:
Point2_data = Point2_data.dropna()

In [34]:
Point2_data = Point2_data.drop_duplicates()
Point2_data = Point2_data.reset_index()
Point2_data = Point2_data.drop(['index'],axis=1)

In [35]:
Point2_data.shape

(908, 7)

In [36]:
Point2_data.to_csv('Point2_data_Canada_house_DropPrice_NoNa.csv',index=False)